<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "//www.w3.org/TR/html4/loose.dtd">
<html>

<head>
	<meta charset="UTF-8">
	<!-- <meta http-equiv="refresh" content="30" />  -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--<link rel="icon" type="image/ico" href="http://cdn.hackerdojo.com/favicon.ico" />-->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.5.4/bootstrap-select.css">
 	<link rel="stylesheet" type="text/css" href="static/style.css" />

	<title>Room Reservation</title>
</head>	

<body>
	<div class="container-fluid">

		<!-- H E A D E R -->
		<div class="header hidden-xs hidden-sm">
			<div class="row">
  				<div class="col-xs-4 col-md-9 hidden-xs hidden-sm hd-logo-section">
					<img src="static/hacker-dojo.png" class="img-responsive hd-logo"/>
					<img src="static/img/genee-logo.png"  class="img-responsive hd-genee-logo"/>	
  				</div>
  				<div class="col-md-3 col-xs-8 hidden-xs hidden-sm hd-user-section">
  					<div class="text-left hd-username"></div>
  					<div class="text-left hd-logout"><a href="/logout">Logout</a></div>
  				</div>
			</div>
		</div>		

		<!-- R O O M   N U M B E R -->
		<div class="hd-topsection row  hidden-xs hidden-sm"></div>
			<div class="col-xs-6 col-md-6 hd-resourcename"></div>
		</div>	

		<!-- W E E K   &   D A I L Y   N A V I G A T I O N -->
		<div class="container-fluid hidden-xs hidden-sm">
			<div class="row hd-week-nav-container">
				<div class="col-xs-12 col-md-4 col-md-offset-4 text-center">
					<div class="text-center hd-nav"><a href="" class="prevButton btn btn-default btn-lg hd-nav-button" role="button"> < </a></div>
					<div class="hd-display-week text-center hd-nav"></div>
					<div class="text-center hd-nav"><a href="" class="nextButton btn btn-default btn-lg hd-nav-button" role="button"> > </a></div>
				</div>	
			</div>	
		</div>
		
		<div class="container-fluid  hidden-md hidden-lg">
			<div class="row hd-day-nav-container">
				<div class="col-xs-12 col-md-4 col-md-offset-4 text-center">
					<div class="text-center hd-nav"><a href="" class="prevButton btn btn-default btn-lg hd-nav-button" role="button"> < </a></div>
					<div class="hd-display-day text-center hd-nav"></div>
					<div class="text-center hd-nav"><a href="" class="nextButton btn btn-default btn-lg hd-nav-button" role="button"> > </a></div>
				</div>	
			</div>	
		</div>


		<div class="container-fluid">

			<!-- Week display -->
			<div class="table-responsive  hidden-xs hidden-sm">
				<table class="hd-schedule table table-bordered hd-week-view">
					<!--
					<thead>
						<tr>
							<th>Time</th>
							<th id="sun" data-day="0" class="text-center">Sun</th>
							<th id="mon" data-day="1" class="text-center">Mon</th>
							<th id="tue" data-day="2" class="text-center">Tue</th>
							<th id="wed" data-day="3" class="text-center">Wed</th>
							<th id="thu" data-day="4" class="text-center">Thu</th>
							<th id="fri" data-day="5" class="text-center">Fri</th>
							<th id="sat" data-day="6" class="text-center">Sat</th>
						</tr>
					</thead>
					-->

					<!--
					<tbody>
						{% for hour in hours %}
							<tr data-hour="{{hour*2}}">
								<th rowspan="2" class="text-center">{% if hour % 12 == 0 %}12{% else %}{{ hour % 12 }}{% endif %}{% if hour < 12 %}am{% else %}pm{% endif %}</th>
								{% for d in days %}
									<td data-day="{{d}}"></td>
								{% endfor %}
							</tr>
							<tr data-hour="{{hour*2+1}}">
								{% for d in days %}
									<td data-day="{{d}}"></td>
								{% endfor %}
							</tr>
						{% endfor %}
					</tbody>		
					-->
				</table>
			</div>	

			<!-- Day display -->
			<div class="table-responsive hidden-md hidden-lg">
				<table class="hd-schedule table hd-day-view">
				</table>
			</div>

		</div>	
	</div>  	
</body>	

<script src="static/jquery-1.11.0.js"></script>

<!--<script src="http://code.jquery.com/jquery-latest.min.js"></script>-->
<script type="text/javascript" src="static/date.js"></script>

<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js" type="text/javascript"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.5.4/bootstrap-select.js" type="text/javascript"></script>
<!-- <script src="//silviomoreto.github.io/bootstrap-select/javascripts/bootstrap-select.js"></script> -->


<script>

	// ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
	// +++++++++++++++++++++++++++++++++++++++++++ F U N C T I O N S  +++++++++++++++++++++++++++++++++++++++++++++
	// ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

	// -------------------------------------------------- //
	// Build and insert calendar HTML into the DOM
	// -------------------------------------------------- //
	
	var buildCalendarDOM = function() {
		var htmlCalendar = "";
		var timePeriod = "";
		var hourNumber = "";
		var hour = 0;

		htmlCalendar = '<thead>' +
						'<tr>' +
							'<th><div>Time</div></th>' +
							'<th id="sun" data-day="0" class="text-center"><div>Sun</div></th>' +
							'<th id="mon" data-day="1" class="text-center"><div>Mon</div></th>' +
							'<th id="tue" data-day="2" class="text-center"><div>Tue</div></th>' +
							'<th id="wed" data-day="3" class="text-center"><div>Wed</div></th>' +
							'<th id="thu" data-day="4" class="text-center"><div>Thu</div></th>' +
							'<th id="fri" data-day="5" class="text-center"><div>Fri</div></th>' +
							'<th id="sat" data-day="6" class="text-center"><div>Sat</div></th>' +
						'</tr>' +
					'</thead>'


		htmlCalendar = htmlCalendar + "<tbody>";

		for (h=0;h<=23;h++) {

			// add odd row

			if (h % 12 === 0) {
				hourNumber = "12";
			} else {
				hourNumber = h % 12;
			}

			if (h < 12) {
				timePeriod = " AM";
			} else {
				timePeriod = " PM";
			}

			hour = h*2;
			htmlCalendar = htmlCalendar + "<tr data-hour=" + hour + ">";
			
			// add th for the column header
			htmlCalendar = htmlCalendar + "<th rowspan='2' class='text-center'><div>" + hourNumber + timePeriod + "</div></th>";

			// add cells for each day
			for (d=0;d<=6;d++) {
				htmlCalendar = htmlCalendar + "<td data-day=" + d + "><div></div></td>";
			}
			htmlCalendar = htmlCalendar + "</tr>";

			// add even row
			hour = h*2 + 1;
			htmlCalendar = htmlCalendar + "<tr data-hour=" + hour + ">";

			for (d=0;d<=6;d++) {
				htmlCalendar = htmlCalendar + "<td data-day=" + d + "><div></div></td>";
			}
			htmlCalendar = htmlCalendar + "</tr>";
		}

		htmlCalendar = htmlCalendar + "</tbody>";

		// Remove previous calendar
		$("thead").remove();
		$("tbody").remove();
		// Add calendar html to the DOM
		$(htmlCalendar).appendTo('.hd-week-view');

	}


	// -------------------------------------------------- //
	// Build and insert calendar HTML into the DOM
	// -------------------------------------------------- //
	var buildDayCalendarDOM = function(dateObj) {
		var htmlCalendar = "";
		var timePeriod = "";
		var hourNumber = "";
		var hour = 0;
		var dayID = "";
		var dayLabel = "";

		var weekDay = dateObj.getDay();
		switch (weekDay) {
			case 0: //"Sun"
				dayID = "sun";
				dayLabel = "Sun";
				break;
			case 1: //"Mon"
				dayID = "mon";
				dayLabel = "Mon";
				break;
			case 2: //"Tue"
				dayID = "tue";
				dayLabel = "Tue";
				break;
			case 3: //"Wed"
				dayID = "wed";
				dayLabel = "Wed";
				break;
			case 4: //"Thu"
				dayID = "thu";
				dayLabel = "Thu";
				break;
			case 5: //"Fri"
				dayID = "fri";
				dayLabel = "Fri";
				break;
			case 6: //"Sat"
				dayID = "sat";
				dayLabel = "Sat";
				break;
		}


		htmlCalendar =  '<thead>' +
							'<tr>' + 
								'<th><div>Time</div></th>' +
								'<th id="' + dayID + '" data-day="' + weekDay + '" class="text-center"><div>' + dayLabel + 
								'</div></th>' +
							'</tr>' +
						'</thead>'

		htmlCalendar = htmlCalendar + "<tbody>";

		for (h=0;h<=23;h++) {

			// ------------
			// add odd row
			// ------------

			if (h % 12 === 0) {
				hourNumber = "12";
			} else {
				hourNumber = h % 12;
			}

			if (h < 12) {
				timePeriod = " AM";
			} else {
				timePeriod = " PM";
			}

			hour = h*2;
			htmlCalendar = htmlCalendar + "<tr data-hour=" + hour + ">";
			
			// add th for the column header
			htmlCalendar = htmlCalendar + "<th rowspan='2' class='text-center'><div>" + hourNumber + timePeriod + "</div></th>";

			// add cell for that particular day
			htmlCalendar = htmlCalendar + "<td data-day=" + weekDay + "><div></div></td>";
			htmlCalendar = htmlCalendar + "</tr>";

			// ------------
			// add even row
			// ------------

			hour = h*2 + 1;
			htmlCalendar = htmlCalendar + "<tr data-hour=" + hour + ">";

			htmlCalendar = htmlCalendar + "<td data-day=" + weekDay + "><div></div></td>";
			htmlCalendar = htmlCalendar + "</tr>";
		}

		htmlCalendar = htmlCalendar + "</tbody>";

		// Remove previous calendar
		$("thead").remove();
		$("tbody").remove();
		// Add calendar html to the DOM
		$(htmlCalendar).appendTo('.hd-day-view');
	}


	// -------------------------------------------------- //
	// Transform date object into string in the following format: YYYY-MM-DD
	// -------------------------------------------------- //
	var convertDateToString = function(dateObj) {
		var dateString = Date.parse(dateObj.toLocaleDateString("en-US")).toString("yyyy-MM-dd");
		return dateString;
	}

	
	// -------------------------------------------------- //
	// getDateFromWeekDayNum function
	// -------------------------------------------------- //
	var getDateFromWeekDayNum = function(weekDayNum) {
		switch (weekDayNum) {
			case 0:
				dateVar = datesArray[0];
				break;
			case 1:
				dateVar = datesArray[1];
				break;
			case 2:
				dateVar = datesArray[2];
				break;
			case 3:
				dateVar = datesArray[3];
				break;
			case 4:
				dateVar = datesArray[4];
				break;
			case 5:
				dateVar = datesArray[5];
				break;
			case 6:
				dateVar = datesArray[6];
				break;	
			default:
				dateVar = "";
				break;	
		}
		return dateVar;
	}


	// -------------------------------------------------- //
	// getTimeFromSlotNum function
	// -------------------------------------------------- //
	var getTimeFromSlotNum = function(slot) {

      var minutes = slot * 30;
      var hours = minutes / 60; 
      var minutes = minutes % 60;
      var time = ""; 
      var ampm = "";
      
      if (hours >= 12) { 
          ampm = 'PM'; 
          hours = hours - 12; 
      } else { 
          ampm = 'AM'; 
      }    
      
      if (hours < 1) { 
          hours = hours + 12; 
      }
      
      if (minutes > 0) {
      	time = ~~hours + ":" + minutes + " " + ampm;
      } else {
      	time = ~~hours + ":00 " + ampm;
      }

      return time;
	}


	// -------------------------------------------------- //
	// Is slot available function
	// -------------------------------------------------- //
	var getSlotNumFromDateTime = function(dateTimeObj) {
	
		var hourIn24format = Number(dateTimeObj.toString("H"));
		var mins = Number(dateTimeObj.toString("m "));
		var slotNumFromDateTime;

		if (mins === 0) {
			slotNumFromDateTime = hourIn24format * 2;
		} else {
			if (mins <= 30) { 
				var slotNumFromDateTime = hourIn24format * 2 + 1;	
			} else {
				var slotNumFromDateTime = hourIn24format * 2 + 2;							
			} 				
		}
		return slotNumFromDateTime;
	}	



	// -------------------------------------------------- //
	// Is slot available function
	// -------------------------------------------------- //
	var isSlotAvailable = function($slotObject) {

		var slotDateObj = getDateFromWeekDayNum($slotObject.data("day"));

		if (slotDateObj !== undefined && slotDateObj !== "") {

			var compareDate = Date.compare(Date.today().clearTime(), slotDateObj.clearTime());

			if (compareDate === 1) { // slot is in the past 
				return false;
			} else {

				if (compareDate === 0) {  // slot is within today

					// determine if slot selected is before current time
					var slotNum = $slotObject.closest("tr").data("hour");  // slot selected
					var slotNumForCurrentTime = getSlotNumFromDateTime(new Date());

					if (slotNum >= slotNumForCurrentTime) {
						return true;
					} else {
						return false;
					}

				} else if (compareDate === -1) { // slot is in the future
					return true;
				}
			}	

		}
	}	


	// -------------------------------------------------- //
	// Is user part of meeting function
	// -------------------------------------------------- //
	var isUserPartOfMeeting = function($slotObject) {

		var attendeesString = $slotObject.attr("data-attendees");	

		if (typeof attendeesString !== "undefined") {
			var userArray = attendeesString.split(",");				
			var userArrayLength = userArray.length;
			var found = false;

			for (u=0;u<userArrayLength;u++) {
				if ( userEmail === userArray[u] ) {				
					found = true;
					break;
				}
			}
			return found;
		} else {
			return false;	
		}
	}	


	// -------------------------------------------------- //
	// update slot background
	// -------------------------------------------------- //
	var updateSlotStyle = function($slotObject, slotCount, action) {

		// update slot style
		switch (action) {
			case "book":
			case "delete":
			case "display":

				console.log("isSlotAvailable($slotObject):" + isSlotAvailable($slotObject));
				if (isSlotAvailable($slotObject)) { // slot is available for booking 

					console.log("isSlotAvailable($slotObject):" + isSlotAvailable($slotObject) + ", $slotObject.find('div').text():" + $slotObject.find("div").text());
					//if ($slotObject.text() === "" ) { 						
					if ($slotObject.find("div").text() === "" ) { 						
							$slotObject.removeClass("displayBookedSlot");		
							$slotObject.removeClass("displayBookedOtherOwnerSlot");	
							$slotObject.removeClass("displayDisabledSlot");		
							$slotObject.addClass("displayEmptySlot");	
					} else {
						if (isUserPartOfMeeting($slotObject)) {								
							$slotObject.removeClass("displayBookedOtherOwnerSlot");	
							$slotObject.removeClass("displayDisabledSlot");		
							$slotObject.removeClass("displayEmptySlot");	
							$slotObject.addClass("displayBookedSlot");
						} else {
							$slotObject.removeClass("displayBookedSlot");
							$slotObject.removeClass("displayDisabledSlot");		
							$slotObject.removeClass("displayEmptySlot");	
							$slotObject.addClass("displayBookedOtherOwnerSlot");	
						}
					}
				} else {
					// slot is disabled - slot selected is in the past
					$slotObject.removeClass("displayBookedSlot");		
					$slotObject.removeClass("displayBookedOtherOwnerSlot");	
					$slotObject.removeClass("displayEmptySlot");							
					$slotObject.addClass("displayDisabledSlot");							
				}						
				break;
		}

		var slotWeekDay = $slotObject.attr("data-day");
		var slotNum = $slotObject.closest("tr").attr("data-hour");
		var i;
		var nextSlot = Number(slotNum) + 1;

		switch (action) {
			case "book":
			case "display":

				// Remove the rest of slots that are part of the same meeting
				if (slotCount > 1) {

					// Loop through the rest of slots and remove them
					for (i=1;i<=slotCount - 1;i++) {
						$otherSlotObj = $("tr[data-hour='" + nextSlot  + "']").find("td[data-day='" + slotWeekDay + "']");

						// remove the parent "tr" if no "td" element is present under that tr. This is usually needed for the "one-day" view for mobile.
						if ($otherSlotObj.closest("tr").children().length === 0 ) {
							$otherSlotObj.closest("tr").remove();
						}
						$otherSlotObj.remove();
						nextSlot++;			
					}
				}			

				// change slot rowspan to expand the slot to as many slots needed
				$slotObject.attr("rowspan", slotCount);
				break;
			case "delete":

				// Insert the rest of slots that were part of the same meeting
				if (slotCount > 1) {

					// change slot rowspan to 1
					$slotObject.attr("rowspan", 1).removeAttr("data-meetingid").removeAttr("data-attendees");
					var prevSlot = Number(slotWeekDay) - 1;

					// Loop through the rest of slots and add them
					for (i=1;i<=slotCount - 1;i++) {
						$prevSlotObj = $("tr[data-hour='" + nextSlot  + "']").find("td[data-day='" + prevSlot + "']");
						$prevSlotObj.after('<td data-day="' + slotWeekDay + '" class="displayEmptySlot" rowspan="1"></td>');
						nextSlot++;			
					}

				}			
				break;
		}						
	}


	// -------------------------------------------------- //
	// get first Day Of Week
	// -------------------------------------------------- //
	var getFirstDayOfWeek = function($dateObj) {

		var weekDay = $dateObj.getDay();
		var firstDayOfWeek = $dateObj.clone();
		switch (weekDay) {
			case 0: //"Sun"
				// the date is Sunday, so return same date as firstDayOfWeek
				break;
			case 1: //"Mon"
				firstDayOfWeek.setDate(firstDayOfWeek.getDate() - 1);
				break;
			case 2: //"Tue"
				firstDayOfWeek.setDate(firstDayOfWeek.getDate() - 2);
				break;
			case 3: //"Wed"
				firstDayOfWeek.setDate(firstDayOfWeek.getDate() - 3);
				break;
			case 4: //"Thu"
				firstDayOfWeek.setDate(firstDayOfWeek.getDate() - 4);
				break;
			case 5: //"Fri"
				firstDayOfWeek.setDate(firstDayOfWeek.getDate() - 5);
				break;
			case 6: //"Sat"
				firstDayOfWeek.setDate(firstDayOfWeek.getDate() - 6);
				break;
		}
		return firstDayOfWeek;
	}

	// -------------------------------------------------- //
	// return Date in following format: ddd M/D. Example: " Sun 6/30 "
	// -------------------------------------------------- //
	var getDateColumnTitle = function($dateObj) {
		var DateVar = Date.parse($dateObj.toLocaleDateString("en-US"));
		var dateColumnTittle = DateVar.toString("ddd") + " " + DateVar.toString("M") + "/" + DateVar.toString("d ") ; 
		return dateColumnTittle;
	}


	// -------------------------------------------------- //
	// calculate each date of the week and put them in an array
	// -------------------------------------------------- //
	var getWeekDaysArray = function(firstDayOfWeek) {

		 var datesArray = [];

	 	var newDate = firstDayOfWeek.clone();

	 	// populate each day of the week in datesArray
	 	for (i=0;i<=6;i++) {
			datesArray[i] = newDate.clone();
			newDate.setDate(newDate.getDate() + 1);
	 	}
		return datesArray;
	}


	// -------------------------------------------------- //
	// put date to be displayed in an array
	// -------------------------------------------------- //
	var getDayArray = function(dateObj) {

		var datesArray = [];

		if (dateObj !== null) {
			datesArray[0] = dateObj;
			datesArray[1] = dateObj;
			datesArray[2] = dateObj;
			datesArray[3] = dateObj;
			datesArray[4] = dateObj;
			datesArray[5] = dateObj;
			datesArray[6] = dateObj;
		}

		console.log("In getDayArray... dateObj:" + dateObj + ", datesArray:" + datesArray);
		return datesArray;
	}


	// -------------------------------------------------- //
	// update Date, month and year displayed between the prev and next buttons and also the dates in each column of the calendar
	// -------------------------------------------------- //
	var updateDatesOnWeekCalendar = function(firstDayOfWeek, datesArray) {  //firstDayOfWeek is a Date object

		// update days inside calendar column headers
		var idValue = "";
		
		var arrayLength = datesArray.length;
		var weekday;
		for (i=0;i<=arrayLength - 1;i++) {
			if (typeof (datesArray[i]) === "undefined") 
			continue;	
			weekday = datesArray[i].getDay();
			switch (weekday) {
				case 0:
					idValue = "sun";
					break;
				case 1:
					idValue = "mon";
					break;
				case 2:
					idValue = "tue";
					break;
				case 3:
					idValue = "wed";
					break;
				case 4:
					idValue = "thu";
					break;
				case 5:
					idValue = "fri";
					break;
				case 6:
					idValue = "sat";
					break;
			}
			$(".hd-week-view" + " " + "#" + idValue).text(getDateColumnTitle(datesArray[i]));				
		}

		// Display Week or Day on the week/day navigation section
		var currentWeekString = "";

		var firstDateOfWeek_day = Date.parse(firstDayOfWeek.toLocaleDateString("en-US")).toString("d ");  //Giovanna - added space in "d" format
		var firstDateOfWeek_month = Date.parse(firstDayOfWeek.toLocaleDateString("en-US")).toString("MMM");
		var firstDateOfWeek_year = Date.parse(firstDayOfWeek.toLocaleDateString("en-US")).toString("yyyy");

		var lastDateOfWeek = firstDayOfWeek.clone();
		lastDateOfWeek.setDate(firstDayOfWeek.getDate() + 6);

		var lastDateOfWeek_day = Date.parse(lastDateOfWeek.toLocaleDateString("en-US")).toString("d "); //Giovanna - added space in "d" format
		var lastDateOfWeek_month = Date.parse(lastDateOfWeek.toLocaleDateString("en-US")).toString("MMM");
		var lastDateOfWeek_year = Date.parse(lastDateOfWeek.toLocaleDateString("en-US")).toString("yyyy");

		// update the date, month and year between prev and next buttons
		if (firstDateOfWeek_month === lastDateOfWeek_month) {
			currentWeekString = firstDateOfWeek_month + " " + firstDateOfWeek_day + " - " + lastDateOfWeek_day + ", " + firstDateOfWeek_year;			
		} else if (firstDateOfWeek_year === lastDateOfWeek_year) {
			currentWeekString = firstDateOfWeek_month + " " + firstDateOfWeek_day + " - " + lastDateOfWeek_month + " " + lastDateOfWeek_day + ", " + firstDateOfWeek_year;			
		} else {
			currentWeekString = firstDateOfWeek_month + " " + firstDateOfWeek_day + ", " +  firstDateOfWeek_year + " - " + lastDateOfWeek_month + " " + lastDateOfWeek_day + ", " + lastDateOfWeek_year;						
		}
		$(".hd-display-week").text(currentWeekString);

	}

	// -------------------------------------------------- //
	// update Date, month and year displayed between the prev and next buttons and also the dates in each column of the calendar
	// -------------------------------------------------- //
	var updateDatesOnDayCalendar = function(dateToDisplay, datesArray) {  

		// update days inside calendar column headers
		var idValue = "";		
		var weekday;
		if (datesArray[0] !== null) {
			weekday = datesArray[0].getDay();
			switch (weekday) {
				case 0:
					idValue = "sun";
					break;
				case 1:
					idValue = "mon";
					break;
				case 2:
					idValue = "tue";
					break;
				case 3:
					idValue = "wed";
					break;
				case 4:
					idValue = "thu";
					break;
				case 5:
					idValue = "fri";
					break;
				case 6:
					idValue = "sat";
					break;
			}
			$(".hd-day-view" + " " + "#" + idValue).text(getDateColumnTitle(datesArray[0]));				
		}

		// Display Week or Day on the week/day navigation section
		var currentDayString = "";

		var day = Date.parse(dateToDisplay.toLocaleDateString("en-US")).toString("d ");  //Giovanna - added space in "d" format
		var month = Date.parse(dateToDisplay.toLocaleDateString("en-US")).toString("MMM");
		var year = Date.parse(dateToDisplay.toLocaleDateString("en-US")).toString("yyyy");

		currentDayString = month + " " + day + ", " + year;
		$(".hd-display-day").text(currentDayString);

	}


	// -------------------------------------------------- //
	// Update both, Week dates and content
	// -------------------------------------------------- //
	var updateWeekCalendar = function(firstDayOfWeek, datesArray) {

		// Rebuild calendar
		buildCalendarDOM();

		// Format style of slots		
		//$("table.hd-schedule td").text("").each( function() {
		//$("table.hd-schedule td").text("").each( function() {
		$("table.hd-schedule td").each( function() {
			updateSlotStyle($(this), 1, "display");
		}); 

		updateDatesOnWeekCalendar(firstDayOfWeek, datesArray);	

		//fillOutSlotFromDB(datesArray, room);  //replaced old getSChedule with Genee API below
		fillOutSlotFromGenee(datesArray);		

	}


	// -------------------------------------------------- //
	// Update both, Week dates and content
	// -------------------------------------------------- //
	var updateDayCalendar = function(dateToDisplay, datesArray) {

		// Rebuild calendar
		buildDayCalendarDOM(dateToDisplay);

		// Format style of slots		
		//$("table.hd-schedule td").text("").each( function() {
		//$("table.hd-schedule td").text("").each( function() {
		$("table.hd-schedule td").each( function() {
			updateSlotStyle($(this), 1, "display");
		}); 

		console.log("Inside updateDayCalendar, before calling updateDatesOnDayCalendar... datesArray:" + datesArray);
		updateDatesOnDayCalendar(dateToDisplay, datesArray);	

		console.log("Inside updateDayCalendar, after calling updateDatesOnDayCalendar... datesArray:" + datesArray);

		//fillOutSlotFromDB(datesArray, room);  //replaced old getSChedule with Genee API below
		fillOutSlotFromGenee(datesArray);		

		console.log("Inside updateDayCalendar, after calling fillOutSlotFromGenee... datesArray:" + datesArray);

		// For small devices, we only display current Date
/*
		switch (displayOption) {
			case "week":
				//do nothing, no need to hide any column
				break;
			case "day":
				var weekDay = currentDate.getDay();
				// Hide the header row for columns that are different from the date to display
				$("thead th[data-day]").hide();
				$("thead th[data-day][data-day='" + weekDay + "']").show();

				// Hide rest of rows for columns that are different from the date to display
				$("td[data-day]").hide();				
				$("td[data-day='" + weekDay + "']").show();				
				break;	
		}
*/
	}


	// ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
	// ++++++++++++++++++++++++++++++++++++++++ P O P U P   W I N D O W S +++++++++++++++++++++++++++++++++++++++++
	// ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++


  // -------------------------------------------------- //
  // Light Box
  // -------------------------------------------------- //
  function errorMessage(message){
    popupMessage(message);
  }


  // -------------------------------------------------- //
  // Light Box
  // -------------------------------------------------- //
  function popupMessage(message){
    $('<div class="lightbox">' +
        '<div class="lightboxOverlay"></div>' +
        '<div class="lightboxError">' +
          '<p></p>' +
          '<button onclick="$(this).parents(\'.lightbox\').remove();return false;" class="okButton btn btn-default btn-lg">Close</button>' +
        '</div>' +
      '</div>'
    ).appendTo('body');
    $(".lightbox p").text(message);
  }


  // -------------------------------------------------- //
  // Booking popup window
  // -------------------------------------------------- //
  function displayPopup($slotObj, datesArray, room, userEmail){

 	// get weekday and slotnumber from the selected slot
	var dayNum = $slotObj.data("day");
	var slotNum = $slotObj.closest("tr").data("hour");
	var slotCountBetweeMeetings = 0;
	var displayPopUp = true;

  	// Check that the same user didn't book previous slot
  	for (n=1; n<=8; n++) {

  		var slotNumToCheck = Number(slotNum) - n;
		var $slotObjToCheck = $("tr[data-hour='" + slotNumToCheck + "']").find("td[data-day='" + dayNum + "']");

		if ($slotObjToCheck.length > 0) {

			if (!$slotObjToCheck.hasClass("displayEmptySlot")) { //if slot is not empty

				if (isUserPartOfMeeting($slotObjToCheck) === true) {								

					// Check when previous meeting ends, there should be at least 2 hours gap btw prev and this mtg
					if (n <=4) {
						displayPopUp = false; // 4 or less slots are not enough to leave as a gap 
						errorMessage(two_hour_gap_error_msg);
						break;												
					} else {
						slotCountBetweeMeetings = n - $slotObjToCheck.attr("rowspan");
						if (slotCountBetweeMeetings >= 4) {
							displayPopUp = true;  // more than 4 slots were left as a gap
							break;							
						} else{
							displayPopUp = false; // 4 or less slots are not enough to leave as a gap 
							errorMessage(two_hour_gap_error_msg);
							break;																		
						}
					}
				} else {
					displayPopUp = true;
					break;							
				}
			}		
		}
	}

	if (displayPopUp) {

	  	// Logic to determine how many hours the user can book at this time
	 
		// Check up to 7 slots down to determine how long the user can book the room
		var lastSlotToCheck = slotNum + 7;
		var availableSlotsCount = 0;
		var options = "";
		var dropdownHTML = "";
		var isUserPartOfNextMeeting;


		var dropdownHTML_upTo30mins = '<select class="selectpicker input-lg">' +
						    			'<option value="0.5">1/2 hour</option>' +
					    			'</select>';

		var dropdownHTML_upTo60mins = '<select class="selectpicker input-lg">' +
						    			'<option value="0.5">1/2 hour</option>' +
						    			'<option value="1">1 hour</option>' +
					    			'</select>';

		var dropdownHTML_upTo90mins = '<select class="selectpicker input-lg">' +
						    			'<option value="0.5">1/2 hour</option>' +
						    			'<option value="1">1 hour</option>' +
						    			'<option value="1.5">1 1/2 hours</option>' +
					    			'</select>';

		var dropdownHTML_upTo120mins = '<select class="selectpicker input-lg">' +
						    			'<option value="0.5">1/2 hour</option>' +
						    			'<option value="1">1 hour</option>' +
						    			'<option value="1.5">1 1/2 hours</option>' +
						    			'<option value="2">2 hours</option>' +    	
					    			'</select>';


		// Loop up to 7 slots down to determine how may slots the user will be able to book		    
		for (s=slotNum+1; s<=lastSlotToCheck; s++) {
			$slotObjToCheck = $("tr[data-hour='" + s + "']").find("td[data-day='" + dayNum + "']");
			//if ($slotObjToCheck.text() === "" ) { 	
			if ($slotObjToCheck.find("div").text() === "" ) { 	
				availableSlotsCount++;
			} else {
				isUserPartOfNextMeeting = isUserPartOfMeeting($slotObjToCheck);
				break;
			}	
		}

		if (availableSlotsCount < 4 ) { 
			if (isUserPartOfNextMeeting) {
				errorMessage(two_hour_gap_error_msg);
				displayPopUp = false;
			} else { // user is not part of the next meeting so he/she can book as many slots as available	
				switch(availableSlotsCount) {
					case 0: // User can only book 1 slot (1/2 hr) 
						dropdownHTML = 	dropdownHTML_upTo30mins;				
						break;	
					case 1: // User can only book up to 2 slots (1 hr) 
						dropdownHTML = 	dropdownHTML_upTo60mins;
						break;	
					case 2: // User can only book 3 slots (1.5 hrs) 
						dropdownHTML = 	dropdownHTML_upTo90mins;
						break;	
					case 3: // user can book up to 2 hrs without restriction
						dropdownHTML = 	dropdownHTML_upTo120mins;
						break;
				}
			}

		} else {
			if (availableSlotsCount === 4 ) { // User can only book 1/2 hr
				if (isUserPartOfNextMeeting) {	// User can only book 1 slot (1/2 hr) to leave 4 slots (2hrs) gap 
					dropdownHTML = 	dropdownHTML_upTo30mins;
				} else { // user is not part of next meeting so he/she can book up to 2 hrs without restriction
					dropdownHTML = 	dropdownHTML_upTo120mins;
				}	    			

		  	} else if (availableSlotsCount === 5) { 
				if (isUserPartOfNextMeeting) {	// User can only book up to 2 slots (1 hr) to leave 4 slots (2hrs) gap 
					dropdownHTML = 	dropdownHTML_upTo60mins;

				} else { // user is not part of next meeting so he/she can book up to 2 hrs without restriction
					dropdownHTML = 	dropdownHTML_upTo120mins;
				}	

			} else if (availableSlotsCount === 6) { 	
				if (isUserPartOfNextMeeting) {	// User can only book 3 slots (1.5 hrs) to leave 4 slots (2hrs) gap 
					dropdownHTML = 	dropdownHTML_upTo90mins;

				} else { // user is not part of next meeting so he/she can book up to 2 hrs without restriction	
					dropdownHTML = 	dropdownHTML_upTo120mins;
				}    			

			} else if (availableSlotsCount >= 7) { // User can book up to 2 hrs
				dropdownHTML = 	dropdownHTML_upTo120mins;
			}
		}	


	  	// Create popup window
	/*    $('<div class="lightboxPopup container">' +
	        '<div class="lightboxOverlayPopup"></div>' +
	        '<div class="lightboxPopup">' +
	        	'<div class="row custom-elem-row">' +
	    			'<p>How long do you need the room for? </p>' +
				    '<select class="selectpicker">' +
					    '<option value="0.5">1/2 hour</option>' +
					    '<option value="1">1 hour</option>' +
					    '<option value="1.5">1 1/2 hours</option>' +
					    '<option value="2">2 hours</option>' +    
				    '</select>' +
			    '</div>' +
	        	'<div class="row custom-elem-row">' +
	        		'<div class="col-md-3 col-md-offset-3">' + 
	          			'<button class="cancelButton btn btn-default" onclick="$(this).parents(\'.lightboxPopup\').remove();return false;">Cancel</button>' + 
	          		'</div>' +	
	        		'<div class="col-md-3">' + 
	          			'<button class="okButton btn btn-default">Ok</button>' +          	
					'</div>' +          		
	          	'</div>' +		    
			'</div>' +
		'</div>'	   
	    ).appendTo('body');
	    $(".selectpicker").selectpicker();
	*/

		if (displayPopUp) {

			var userNamePromptHTML = "";

			if (userEmail === conferenceRoomEmail) {  // if login user is meet@hackerdojo.com

				// request user to enter his/her email address
				userNamePromptHTML = '<div class="row custom-elem-row">' + 
			    						'<p class="hd-popup-text">Please enter your HackerDojo email id: </p>' +
										'<input type="text" name="emailAddress" class="form-control hd-email-input col-sm-6" id="hd-emailAddress">' + 
										'<span class="form-control-static col-sm-6">@hackerdojo.com</span>' +
										'<p class="hd-errorMessageEmail hd-error-text col-sm-12"></p>' + 
									'</div>';
			}		    				

			// Create complete HTML content for the popup window
		    $('<div class="lightboxPopup container">' +
		        '<div class="lightboxOverlayPopup"></div>' +
		        '<div class="lightboxPopup">' +
					'<div class="row custom-elem-row">' + 
			    		'<p class="hd-popup-text">' + 'Time selected:' + '<p>' +			
			    		'<p class="hd-popup-text">' + getDateColumnTitle(getDateFromWeekDayNum(dayNum)) + " - " + getTimeFromSlotNum(slotNum) +
			        	'</p>' + 
			        '</div>' +	 

		        	userNamePromptHTML +
		        	'<div class="row custom-elem-row">' +
		    			'<p>How long do you need the room for? </p>' +
					    dropdownHTML +
				    '</div>' +
		        	'<div class="row custom-elem-row hd-buttons-section">' +
		        		'<div class="col-xs-3 col-xs-offset-2 col-md-3 col-md-offset-3">' + 
		          			'<button class="cancelButton btn btn-default btn-lg" onclick="$(this).parents(\'.lightboxPopup\').remove();return false;">Cancel</button>' + 
		          		'</div>' +	
		        		'<div class="col-xs-3 col-md-3">' + 
		          			'<button class="okButton btn btn-default btn-lg">Ok</button>' +          	
						'</div>' +          		
		          	'</div>' +		    
				'</div>' +
			'</div>'	   
		    ).appendTo('body');
		    $(".selectpicker").selectpicker();


		    $(".lightboxPopup").on('click','.okButton', function() {

		    	// create an array with slots corresponding to the duration selected by the user
				// var slotObjArray = [];
				var slotCount = 0;

				// obtain selected value
				switch ($(".selectpicker").val()) {
					case "0.5":
						slotCount = 1;					
						break;
					case "1":
						slotCount = 2;					
						break;
					case "1.5":
						slotCount = 3;					
						break;
					case "2":
						slotCount = 4;					
						break;
				}

				if (userEmail === conferenceRoomEmail) { // the login user is "meet@hackerdojo.com" 

					// Validate that the user entered his/her email address
		 			userEmailInput = $("#hd-emailAddress").val();

		 			if (userEmailInput === "") {
		 				$(".hd-errorMessageEmail").text("* This is a required field").removeClass("hd-hide");

		 			}
		 			else { 

		 				// Delete any error message that could have been displayed previously
		 				$(".hd-errorMessageEmail").text("").addClass("hd-hide");
		 				userEmailInput = userEmailInput + "@hackerdojo.com";

						// call a different API to create reservation through Genee functionality
						response = updateSlot($slotObj, slotCount, room, userEmailInput, "geneeCommand");

						// close poup window
				    	$(".lightboxPopup").remove();
		 			}	

		 		} else { 

		 			// user logged-in with his user id, so call "addGenee API to create room reservation in Genee"	
					response = updateSlot($slotObj, slotCount, room, userEmail, "add");

					// close poup window
			    	$(".lightboxPopup").remove();
			    }	
		    });
			  
		}

	}
  }


  	// -------------------------------------------------- //
  	// Display delete confirmation popup window
  	// -------------------------------------------------- //
  	function displayDeleteConfirmation($slotObj, numberOfSlots, room, userEmail) {

		    $('<div class="lightboxPopup container">' +
		        '<div class="lightboxOverlayPopup"></div>' +
		        '<div class="lightboxPopup">' +
		        	'<div class="row custom-elem-row">' +
		    			'<p>Are you sure you want to delete this reservation?</p>' +
				    '</div>' +
		        	'<div class="row custom-elem-row">' +
		        		'<div class="col-xs-4 col-xs-offset-2 col-md-3 col-md-offset-3">' + 
		          			'<button class="cancelButton btn btn-default btn-lg" onclick="$(this).parents(\'.lightboxPopup\').remove();return false;">Cancel</button>' + 
		          		'</div>' +	
		        		'<div class="col-xs-3 col-md-3">' + 
		          			'<button class="okButton btn btn-default btn-lg">Delete</button>' +          	
						'</div>' +          		
		          	'</div>' +		    
				'</div>' +
			'</div>'	   
		    ).appendTo('body');

		    $(".lightboxPopup").on('click','.okButton', function() {

				response = updateSlot($slotObj, numberOfSlots, room, userEmail, "delete");
		    	$(".lightboxPopup").remove();
		    });
  	}

	// ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
	// +++++++++++++++++++++++++++++++++++++++++ A J A X   C A L L S  +++++++++++++++++++++++++++++++++++++++++++++
	// ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

	// -------------------------------------------------- //
	// fill slot with corresponding user name (Ajax call)
	// -------------------------------------------------- //
	var fillOutSlotFromGenee = function(datesArray) {

		// make AJAX call
		var dateParam = " ";
		var respLength = 0;
		var slotOwner = " ";
		var meetingDuration = " ";
		var slotArrayLength = 0;
		var start_date_param = convertDateToString(datesArray[0]);
		var end_date = datesArray[datesArray.length-1].clone();
		end_date.setDate(end_date.getDate() + 1);

		var end_date_param = convertDateToString(end_date);


		$.ajax({
			//url: 'http://aws.ugather.us/ugatherstaging-py/api/v1/roomschedule/14',
	        url: '/api/v1/roomschedule',	
            type: 'POST',
            crossDomain: true,
            headers: {'Access-Control-Allow-Origin':'*'},
			data: {start_date: start_date_param, end_date: end_date_param},
			dataType: 'json',
			success: function(resp) {

				respLength = resp.length;
				for (i=0;i<respLength;i++) {

					// Determine the first slot
					var meetingDateTime = Date.parse(resp[i].meetingtime);

					if (meetingDateTime !== null) {
						var slotNum = getSlotNumFromDateTime(meetingDateTime);
						var weekDay = meetingDateTime.getDay();
						var weekDayDate = getDateFromWeekDayNum(weekDay);
						var slotObjArray = [];
						var meetingId = resp[i].meetingid;
						var slotOwner = "";
						var slotCount = 0;
						var attendees = "";

						console.log("resp[i].meetingtime:" + resp[i].meetingtime + ", slotNum:" + slotNum + ", weekDay:" + weekDay + ", weekDayDate:" + weekDayDate + ", meetingId:" + meetingId + ", datesArray:" + datesArray);

						var compareDate = Date.compare(weekDayDate.clearTime(), meetingDateTime.clearTime());

						if (compareDate === 0  ) {
							// Locate the first slot
							var $slotObj = $("tr[data-hour='" + slotNum + "']").find("td[data-day='" + weekDay + "']");

							if ($slotObj !== null) {

								// Store meeting id
								$slotObj.attr("data-meetingid", meetingId);
								slotCount = 1;

								// Determine rest of slots booked based on meeting duration
								meetingDuration = resp[i].meetingduration - 30;  // Removing 30 mins corresponding to first slot that was taken care above

								while (meetingDuration > 0) {
									slotNum++;
									slotCount++;
									meetingDuration = meetingDuration - 30;
								}

								// Get array of attendees, concatenate them
								var inviteesArray = resp[i].invitees;
								var inviteesArrayLength = inviteesArray.length;

								for (j=0;j<inviteesArrayLength;j++) {
									// concatenation of attendees names
									if (slotOwner === "") {
										slotOwner = inviteesArray[j].name;  
									} else {
										slotOwner = slotOwner + ", " + inviteesArray[j].name;  
									}
									// concatenation of attendees emails
									if (attendees === "") {
										attendees = inviteesArray[j].email;  
									} else {
										attendees = attendees + "," + inviteesArray[j].email;  
									}
								}	
								//$slotObj.text(slotOwner);
								$slotObj.find("div").text(slotOwner);
								$slotObj.attr("data-attendees", attendees);

								updateSlotStyle($slotObj, slotCount, "display");

							}
						}
					}	
				}	

			},
			error: function(req, status, err) {
				//alert("Not able to populate slots. Error message: " + err); // Added by Giovanna 7/16
			}
		});
	}
	

	// -------------------------------------------------- //
	// Book slot Ajax call
	// -------------------------------------------------- //
	var updateSlot = function($slotObject, slotCount, roomParam, userEmail, action) {

		// set parameters to send in the Ajax call

		//var slotWeekDay = $slotObject.attr("data-day");
		//var slotParam = $slotObject.closest("tr").attr("data-hour");
		var slotWeekDay = $slotObject.data("day");
		var slotParam = $slotObject.closest("tr").data("hour");

		var dateParam = convertDateToString(getDateFromWeekDayNum(slotWeekDay));
		var slotCountParam = slotCount;
		var userNameParam = userName;
		var userEmailParam = userEmail;
		var userIdParam = userId;
		var meetingidParam = $slotObject.attr("data-meetingid");

			switch (action) {
				case "add":
					// make AJAX call to add slot
					$.ajax({
                        timeout : 10000,
					    url: '/api/v1/addgenee',
					    type: 'POST',
					    data: {slot: slotParam, date: dateParam, slotcount:slotCountParam, userNameParam:userNameParam,userEmailParam:userEmailParam},
						success: function(resp) {
						    var data =  JSON.parse(resp);
							if (data.status) {
								//$slotObject.text(userName);
								$slotObject.find("div").text(userName);
								$slotObject.attr("data-attendees", userEmail);
								$slotObject.attr("data-meetingid", data.meetingid);								
								updateSlotStyle($slotObject, slotCount, "book");
								return true;
							} else {
								// display error message
								errorMessage(data.Message);
								return false;
							}
						},
						error: function(req, status, err) {
							errorMessage("Not able to book slot. Error message: " + err);
							return false;
						}

					}); // end of ajax /api/v1/addgenee
					break;

				case "delete":
					// make AJAX call to delete slot
					$.ajax({
						url: '/api/v1/removegenee',
						type: 'POST',
						//data: {slot: slotParam, date: dateParam},
						data: {meeting_id: meetingidParam},  
						success: function(resp) {
						    var data = JSON.parse(resp);
							if (data.status) {
								//$slotObject.text("");
								$slotObject.find("div").text("");								
								updateSlotStyle($slotObject, slotCount, "delete");
								return true;
							} else {
								errorMessage(data.UserMessage);
								return false;
								}

						},
						error: function(req, status, err) {
							errorMessage("Not able to delete slot. Error message: " + err);
							return false;
						}
					});
					break;	

				case "geneeCommand":
					// make AJAX call to add slot
					$.ajax({
                        timeout : 10000,
					    url: '/api/v1/commandgenee',
					    type: 'POST',
					    data: {slot: slotParam, date: dateParam, slotcount:slotCountParam, invitees:userEmailParam},
						success: function(resp) {
						    var data =  JSON.parse(resp);
							if (data.status) {
								//popupMessage("Your Request is being processed. Please check your email to confirm this reservation");
								popupMessage("Thanks, we're working on it. You will receive an email to confirm this meeting time.");
								return true;
							} else {
								// display error message
								errorMessage(data.Message);
								return false;
							}
						},
						error: function(req, status, err) {
							errorMessage("Not able to book slot. Error message: " + err);
							return false;
						}

					}); // end of ajax /api/v1/addgenee
					break;	
			}

		return false;
	}


	// ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
	// ++++++++++++++++++++++++++++++++++++++++++++++++ M A I N +++++++++++++++++++++++++++++++++++++++++++++++++++
	// ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

	// Grab user information
	var userName = "{{ username }}";
	var userEmail = "{{ userEmail }}";
	var userId = "{{ userId }}";
	var conferenceRoomEmail = "meet@hackerdojo.com";

	var two_hour_gap_error_msg = "Please schedule blocks that are at least 2 hours apart.";

	// Hide logout link if login user is meet@hackerdojo.com
	if (userEmail === conferenceRoomEmail) { // the login user is "meet@hackerdojo.com" 
		$(".hd-username").css("display","none");	
		$(".hd-logout").css("display","none");
	}	

	// Display username on upper right corner
	$(".hd-username").text(userName);	

	// extract the username portion before @hackerdojo.com
	userName = userName.split("@")[0];

	// Set room name
	var room = "Room 004";
	$(".hd-resourcename").text(room);

	// Initial Display
	var today = new Date();
	var firstDayOfWeek = getFirstDayOfWeek(today);

	// Identify screen size  -- Giovanna - July 21st
	var height = $(window).height();
	var width = $(window).width();

	var displayOption;
	if (width < 768) {
		displayOption = "day";
	} else {
		displayOption = "week";		
	}

	switch (displayOption) {
		case "week":
			var datesArray = getWeekDaysArray(firstDayOfWeek);
			updateWeekCalendar(firstDayOfWeek, datesArray);

			// refresh the view every 30 seconds			
/*			setInterval (function() { 
				updateWeekCalendar(firstDayOfWeek, datesArray); 
			}, 30000);			
*/
			break;

		case "day":
			var dateDisplayed = today.clone();
			console.log("Before calling getDayArray... dateDisplayed:" + dateDisplayed);
		
			var datesArray = getDayArray(dateDisplayed);
			console.log("Initial datesArray values.. datesArray:" + datesArray);
		
			updateDayCalendar(dateDisplayed, datesArray);

			console.log("After calling updateDayCalendar.. datesArray:" + datesArray);

			// refresh the view every 30 seconds
/*			setInterval (function() { 
				updateDayCalendar(dateDisplayed, datesArray); 
			}, 30000);
*/
			break;
	}


	// Initially disable prev button
	$(".prevButton").addClass("disabled");

	// Prev button logic
	$(".prevButton").click(function(e){
		e.preventDefault();

		switch (displayOption) {

			case "week":

				if (today < firstDayOfWeek) {
					firstDayOfWeek.setDate(firstDayOfWeek.getDate() - 7);			
					datesArray = getWeekDaysArray(firstDayOfWeek);
					updateWeekCalendar(firstDayOfWeek, datesArray);
					$(".nextButton").removeClass("disabled");  // enable next button in case it was disabled
					if (today >= firstDayOfWeek) {
						$(".prevButton").addClass("disabled"); // disable prev button to prevent users from reserving rooms in the past
					}			
				} 
				break;

			case "day":

				if (today < dateDisplayed) {
					dateDisplayed.setDate(dateDisplayed.getDate() - 1);
					datesArray = getDayArray(dateDisplayed);
					updateDayCalendar(dateDisplayed, datesArray);
					$(".nextButton").removeClass("disabled");  // enable next button in case it was disabled
					// if (today > firstDayOfWeek) {
					if (today >= dateDisplayed) {
						$(".prevButton").addClass("disabled"); // disable prev button to prevent users from reserving rooms in the past
					}			
				} 
				break;
		}		

	});

	// Next button logic
	$(".nextButton").click(function(e){
		e.preventDefault();		

		// calculate date 30 days from today
		var todayPlus30days = today.clone();
		todayPlus30days.setDate(todayPlus30days.getDate() + 30);

		switch (displayOption) {

			case "week":
		
				// calculate last date of current week
				var lastDateOfWeek = firstDayOfWeek.clone();
				lastDateOfWeek.setDate(firstDayOfWeek.getDate() + 6);

				if (todayPlus30days > lastDateOfWeek) {

					// set firstDayOfWeek to 1 week ahead and update dates on calendar if displayOption = "week"
					firstDayOfWeek.setDate(firstDayOfWeek.getDate() + 7);
					datesArray = getWeekDaysArray(firstDayOfWeek);
					updateWeekCalendar(firstDayOfWeek, datesArray);
					
					$(".prevButton").removeClass("disabled");  // enable prev button in case it was disabled

					// calculate last date of current week
					lastDateOfWeek = firstDayOfWeek.clone();
					lastDateOfWeek.setDate(firstDayOfWeek.getDate() + 6);

					if (todayPlus30days <= lastDateOfWeek) {
						$(".nextButton").addClass("disabled"); // disable next button when the current week is beyond "today + 30 days"	
					}				
				}
				break;

			case "day":

				if (dateDisplayed <= todayPlus30days) {

					dateDisplayed.setDate(dateDisplayed.getDate() + 1);
					datesArray = getDayArray(dateDisplayed);
					updateDayCalendar(dateDisplayed, datesArray);
					
					$(".prevButton").removeClass("disabled");  // enable prev button in case it was disabled

					if (dateDisplayed >= todayPlus30days) {
						$(".nextButton").addClass("disabled"); // disable next button when the current week is beyond "today + 30 days"	
					}				
				}			
				break;
		}		

	});


	// Slot "click" event
	$(".hd-schedule").on('click','td', function() {                   
		var response;
		var numberOfSlots = 1;

		console.log("clicked on a slot...");

		if (!$(this).hasClass("displayDisabledSlot")) { // Allow click event only if slot is NOT disabled

			//if ($(this).text() === "") {
			if ($(this).find("div").text() === "") {
				if (isSlotAvailable($(this))) {
					// book/add slot only if slot is available
					displayPopup($(this), datesArray, room, userEmail);				
				}
			} else {
				// delete reservation
				if (isUserPartOfMeeting($(this))) {	
					numberOfSlots = $(this).attr("rowspan");	

					// call updateSlot only if numberOfSlots is a valid number
					if (!isNaN(numberOfSlots)) {						
					displayDeleteConfirmation($(this), numberOfSlots, room, userEmail);				
					}
				} else {
					// display error message
					errorMessage("Cannot delete slots from different owner");
				}			
			}

		}	
	});

		
</script>

</html>    
