<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "//www.w3.org/TR/html4/loose.dtd">

<!--
    This file is part of Genee Conference Room scheduling application.

    Genee Conference Room is free software: you can redistribute it 
    and/or modify it under the terms of the GNU General Public License
    as published by the Free Software Foundation, either version 3 of
    the License, or (at your option) any later version.

    Genee Conference Room is distributed in the hope that it will be
    useful, but WITHOUT ANY WARRANTY; without even the implied warranty
    of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Genee Conference Room.  If not, see <http://www.gnu.org/licenses/>.
    Copyright 2014-2015 Genee, Inc.
-->

<html>

<head>
	<meta charset="UTF-8">
	<!-- <meta http-equiv="refresh" content="30" />  -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap -->
<!--    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">  -->
    <link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.5.4/bootstrap-select.css">

 	<link rel="stylesheet" type="text/css" href="static/css/style.css?v=02292016" />
 	<link rel="stylesheet" type="text/css" href="static/css/calendarSlider.css" />
	<link rel="stylesheet" href="static/css/font-awesome/css/font-awesome.min.css">

	<script src="static/js/jquery-1.11.0.js"></script>
	<script type="text/javascript" src="static/js/date.js"></script>
    <script type="text/javascript" src="static/js/moment.min.js"></script>
	
<!--	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js" type="text/javascript"></script>  -->
	<script src="static/js/bootstrap.min.js" type="text/javascript"></script>


	<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.5.4/bootstrap-select.js" type="text/javascript"></script>

	<!-- start Mixpanel --><script type="text/javascript">(function(f,b){if(!b.__SV){var a,e,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" ");
for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=f.createElement("script");a.type="text/javascript";a.async=!0;a.src="//cdn.mxpnl.com/libs/mixpanel-2.2.min.js";e=f.getElementsByTagName("script")[0];e.parentNode.insertBefore(a,e)}})(document,window.mixpanel||[]);
mixpanel.init("affcd976983ca9d52600fc125e614ddc");</script><!-- end Mixpanel -->

	<title>Room Reservation</title>
</head>	

<body>
	<div class="container-fluid hd-top">

		<!-- H E A D E R -->
		<div class="container-fluid hd-header hidden-xs">
			<div class="row">
			
  				<div class="col-xs-8 col-sm-8 col-md-6 hd-logo-section">
					<img src="static/img/hacker-dojo.png" class="img-responsive hd-logo"/>
					<img src="static/img/genee-logo.png"  class="img-responsive hd-genee-logo"/>	
					
  				</div>	
				
  				<div class="col-xs-4 col-sm-4 col-md-6 hidden-sm hd-user-section">
					<div class="text-right hd-header-time">
						<strong>
	    					<!-- <a href="http://24timezones.com/world_directory/current_los_angeles_time.php" style="text-decoration: none" target="_BLANK" title="clock for Los Angeles">Mountain View, CA</a> - <span id="tzTimeSpan_ee5417d895c2bea"></span>  -->
	    					Mountain View, CA - 
<!--	    					<span id="tzTimeSpan_ee5417d895c2bea"></span>
	    <script type="text/javascript" src="http://24timezones.com/js/en/time_12_1_0.js"></script>
	    <script src="http://24timezones.com/timescript/gettime.js.php?city=137&hourtype=12&showdate=1&showseconds=0&id=1843187&elem=ee5417d895c2bea" language="javascript"></script>
-->
	    					<span id="time"></span>
	    					<span>-</span>
	    					<span id="date"></span>
						</strong>
					</div>
					<div  class="text-right hd-username-section">
	  					<span class="text-right hd-username"></span>
	  					<span> | </span>
	  					<span class="text-right hd-logout"><a href="/logout">Logout</a></span>
					</div>
					<div class="text-right hd-support-email">
						<em><a href="static/HackerDojoGeneeMeetingRoomSystem.pdf">Help</a></em> | Email: <em><a href="mailto:giovanna.m@hackerdojo.com">giovanna.m@hackerdojo.com</a></em>
					</div>
  				</div>
			</div>			
		</div>		

		<!-- R O O M   N U M B E R -->
		<div class="container-fluid hd-topsection row hidden-xs">
			<div class="col-xs-6 col-md-6 hd-resourcename"></div>
		</div>	


		<!-- W E E K   N A V I G A T I O N -->
		<div class="container-fluid hidden-xs">
			<div class="row hd-week-nav-container">
				<div class="col-xs-12 col-md-6 col-md-offset-3 text-center">
					<div class="text-center hd-nav"><a href="" class="prevButton btn btn-default btn-lg hd-nav-button" role="button"> < </a></div>
					<div class="hd-display-week text-center hd-nav"></div>
					<div class="text-center hd-nav"><a href="" class="nextButton btn btn-default btn-lg hd-nav-button" role="button"> > </a></div>
				</div>	
				<div class="col-xs-12 col-md-6 col-md-offset-3 text-center hd-first-week-link-div">
					<div><a href="" class="hd-first-week-link">Today</a></div>
				</div>					
			</div>	
		</div>
		
		<!-- D A Y   N A V I G A T I O N -->
		<div class="container-fluid hidden-sm hidden-md hidden-lg">
			<div class="row hd-day-nav-container">
				<div class="col-xs-12 col-md-6 col-md-offset-3 text-center">
					<div class="text-center hd-nav"><a href="" class="prevButton btn btn-default btn-lg hd-nav-button" role="button"> < </a></div>
					<div class="hd-display-day text-center hd-nav"></div>
					<div class="text-center hd-nav"><a href="" class="nextButton btn btn-default btn-lg hd-nav-button" role="button"> > </a></div>
				</div>	
				<div class="col-xs-12 col-md-6 col-md-offset-3 text-center">
					<div><a href="" class="hd-today-link">Today</a></div>
				</div>	

			</div>
		</div>	


		<!-- ================================== -->	
		<!-- 		Calendar carousel 			-->
		<!-- ================================== -->	
<!--		<div class="container-fluid custom-day-nav-outwrapper hidden-sm hidden-md hidden-lg">
			<div class="row custom-nav-container">
				<div class="custom-nav-col text-left">	
					<a class="left btn btn-xs custom-circlebtn custom-nav-button" href="#carousel-example-generic" role="button" data-slide="prev" id="custom-prev-button">
						<span><i class="fa fa-chevron-left custom-navicon"></i></span>
						<span class="sr-only">Previous</span>
					</a>
				</div>	

				<div class="custom-nav-col text-center">	 
					<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

					    <div class="carousel-inner" role="listbox">
						    <div class="item active" id="block1">
						    	<div class="row custom-days-row">
									<div class="custom-day-col" id="sun">
										<div class="custom-dayhdr"></div><div class="custom-day custom-circlebtn"></div><div class="custom-label"></div>
									</div>
									<div class="custom-day-col" id="mon">
										<div class="custom-dayhdr"></div><div class="custom-day custom-circlebtn"></div><div class="custom-label"></div>
									</div>
									<div class="custom-day-col" id="tue">
										<div class="custom-dayhdr"></div><div class="custom-day custom-circlebtn"></div><div class="custom-label"></div>
									</div>
									<div class="custom-day-col" id="wed">
										<div class="custom-dayhdr"></div><div class="custom-day custom-circlebtn"></div><div class="custom-label"></div>
									</div>
									<div class="custom-day-col" id="thu">
										<div class="custom-dayhdr"></div><div class="custom-day custom-circlebtn"></div><div class="custom-label"></div>
									</div>
									<div class="custom-day-col" id="fri">
										<div class="custom-dayhdr"></div><div class="custom-day custom-circlebtn"></div><div class="custom-label"></div>
									</div>
									<div class="custom-day-col" id="sat">
										<div class="custom-dayhdr"></div><div class="custom-day custom-circlebtn"></div><div class="custom-label"></div>
									</div>
								</div>	      
						    </div>
						    <div class="item" id="block2">
						    	<div class="row custom-days-row">	
									<div class="custom-day-col" id="sun">
										<div class="custom-dayhdr"></div><div class="custom-day custom-circlebtn"></div><div class="custom-label"></div>
									</div>
									<div class="custom-day-col" id="mon">
										<div class="custom-dayhdr"></div><div class="custom-day custom-circlebtn"></div><div class="custom-label"></div>
									</div>
									<div class="custom-day-col" id="tue">
										<div class="custom-dayhdr"></div><div class="custom-day custom-circlebtn"></div><div class="custom-label"></div>
									</div>
									<div class="custom-day-col" id="wed">
										<div class="custom-dayhdr"></div><div class="custom-day custom-circlebtn"></div><div class="custom-label"></div>
									</div>
									<div class="custom-day-col" id="thu">
										<div class="custom-dayhdr"></div><div class="custom-day custom-circlebtn"></div><div class="custom-label"></div>
									</div>
									<div class="custom-day-col" id="fri">
										<div class="custom-dayhdr"></div><div class="custom-day custom-circlebtn"></div><div class="custom-label"></div>
									</div>
									<div class="custom-day-col" id="sat">
										<div class="custom-dayhdr"></div><div class="custom-day custom-circlebtn"></div><div class="custom-label"></div>
									</div>
						    	</div>
						    </div>
					    </div>
					</div>
				</div>
						
				<div class="custom-nav-col text-right">
					<a class="right btn btn-xs custom-circlebtn custom-nav-button" href="#carousel-example-generic" role="button" data-slide="next" id="custom-next-button">
						<span><i class="fa fa-chevron-right custom-navicon"></i></span>
						<span class="sr-only">Next</span>
					</a>
				</div>	
			
			</div>	
		</div>
-->		<!--- End Calendar carousel -->


		<!-- New Today Link Section -->	
<!--		<div class="container-fluid hidden-sm hidden-md hidden-lg">
			<div class="row hd-day-nav-container">				
				<div class="col-xs-12 col-md-6 col-md-offset-3 text-center">
					<div><a href="" class="hd-today-link">Today</a></div>
				</div>	
			</div>	
		</div>
-->
	</div>	

	<!-- Week display -->
	<div class="hidden-xs container-fluid hd-table-header-wrapper">
		<div class="table-responsive">
			<table class="container-fluid hd-schedule-header table table-bordered hd-week-view-header">
				<!--
				<thead>
					<tr>
						<th>Time</th>
						<th id="sun" data-day="0" class="text-center">Sun</th>
						<th id="mon" data-day="1" class="text-center">Mon</th>
						<th id="tue" data-day="2" class="text-center">Tue</th>
						<th id="wed" data-day="3" class="text-center">Wed</th>
						<th id="thu" data-day="4" class="text-center">Thu</th>
						<th id="fri" data-day="5" class="text-center">Fri</th>
						<th id="sat" data-day="6" class="text-center">Sat</th>
					</tr>
				</thead>
				-->
			</table>
		</div>	
	</div>
		
	<div class="hidden-xs container-fluid hd-table-body-wrapper">
		<div class="table-responsive">
			<table class="hd-schedule table table-bordered hd-week-view">
				<!--
				<tbody>
					{% for hour in hours %}
						<tr data-hour="{{hour*2}}">
							<th rowspan="2" class="text-center">{% if hour % 12 == 0 %}12{% else %}{{ hour % 12 }}{% endif %}{% if hour < 12 %}am{% else %}pm{% endif %}</th>
							{% for d in days %}
								<td data-day="{{d}}"></td>
							{% endfor %}
						</tr>
						<tr data-hour="{{hour*2+1}}">
							{% for d in days %}
								<td data-day="{{d}}"></td>
							{% endfor %}
						</tr>
					{% endfor %}
				</tbody>		
				-->
			</table>
		</div>	
	</div>	
				
	<!-- Day display -->
	<div class="container-fluid hidden-sm hidden-md hidden-lg hd-table-header-wrapper-day">	
		<div class="table-responsive">
			<table class="hd-schedule table hd-day-view-header">
			</table>
		</div>
	</div>		

	<div class="container-fluid hidden-sm hidden-md hidden-lg hd-table-body-wrapper-day">
		<div class="table-responsive">
			<table class="hd-schedule table hd-day-view">
			</table>
		</div>
	</div>	
 	
</body>	

	<script src="static/js/calendarSlider.js" type="text/javascript"></script>
	<script src="static/js/conferenceroom.js" type="text/javascript"></script>

<script>

	// ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
	// ++++++++++++++++++++++++++++++++++++++++++++++++ M A I N +++++++++++++++++++++++++++++++++++++++++++++++++++
	// ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

	// Grab user information
	var userName = "{{ username }}";
	var userEmail = "{{ userEmail }}";
	var userId = "{{ userId }}";
	var conferenceRoomEmail = "meet@hackerdojo.com";

	var two_hour_gap_error_msg = "Please schedule blocks that are at least 2 hours apart.";

	// get current environment (DEV or PROD)
	var environment_constant = getEnvironment();

	// Set room name
	var room = "Room 004";
	$(".hd-resourcename").text(room);

	// Initial Display
	var today = new Date();
	var firstDayOfWeek = getFirstDayOfWeek(today);

	// Declaring global variables that will be set in setWeekDayDisplay()  and initialize functions
	var dateDisplayed = today.clone();	
	var datesArray = [];
	var displayOption;

	var loggedinGeneeUserId;
	var minHour;
	var maxHour;

	// Initialize schedule - get Genee userid, schedule hours and display schedule accrodingly
	initialize(userEmail);

		
</script>

</html>    
