<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>
	<meta charset="UTF-8">
	<!-- <meta http-equiv="refresh" content="30" />  -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/ico" href="http://cdn.hackerdojo.com/favicon.ico" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.5.4/bootstrap-select.css">
 	<link rel="stylesheet" type="text/css" href="static/style.css" />

	<title>Room Reservation</title>
</head>	

<body>
	<div class="container">
		<div class="header">
			<div class="row">
  				<div class="col-md-9 .col-xs-4" class="hd-logo-section">
					<img src="static/hacker-dojo.png" class="img-responsive hd-logo"/>
					<img src="static/img/genee-logo.png"  class="img-responsive hd-genee-logo"/>	
  				</div>
  				<div class="col-md-3 .col-xs-8 hidden-xs hidden-sm hd-username">
  					username
  				</div>
			</div>
		</div>		
		<div class="hd-resourcename"></div>
		<div class="container">
			<div class="row hd-week-nav-container">
				<div class="col-xs-10 col-md-4 col-xs-offset-1 col-md-offset-4 text-center">
					<div class="text-center hd-week-nav"><a href="" class="prevButton btn btn-default hd-nav-button" role="button"> < </a></div>
					<div class="hd-display-week text-center hd-week-nav"></div>
					<div class="text-center hd-week-nav"><a href="" class="nextButton btn btn-default hd-nav-button" role="button"> > </a></div>
				</div>	
			</div>	
		</div>
		
		<table class="hd-schedule table table-bordered table-responsive">
			<thead>
				<tr>
					<th></th>
					<th id="sun" data-day="0" class="text-center">Sun</th>
					<th id="mon" data-day="1" class="text-center">Mon</th>
					<th id="tue" data-day="2" class="text-center">Tue</th>
					<th id="wed" data-day="3" class="text-center">Wed</th>
					<th id="thu" data-day="4" class="text-center">Thu</th>
					<th id="fri" data-day="5" class="text-center">Fri</th>
					<th id="sat" data-day="6" class="text-center">Sat</th>
				</tr>
			</thead>
			<tbody>

				<!--
				{% for hour in hours %}
					<tr data-hour="{{hour*2}}">
						<th rowspan="2" class="text-center">{% if hour % 12 == 0 %}12{% else %}{{ hour % 12 }}{% endif %}{% if hour < 12 %}am{% else %}pm{% endif %}</th>
						{% for d in days %}
							<td data-day="{{d}}"></td>
						{% endfor %}
					</tr>
					<tr data-hour="{{hour*2+1}}">
						{% for d in days %}
							<td data-day="{{d}}"></td>
						{% endfor %}
					</tr>
				{% endfor %}
			-->	
			</tbody>		
		</table>
	</div>  	
</body>	

<script src="static/jquery-1.11.0.js"></script>

<!--<script src="http://code.jquery.com/jquery-latest.min.js"></script>-->
<script type="text/javascript" src="static/date.js"></script>

<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js" type="text/javascript"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.5.4/bootstrap-select.js" type="text/javascript"></script>
<!-- <script src="http://silviomoreto.github.io/bootstrap-select/javascripts/bootstrap-select.js"></script> -->


<script>

	// -------------------------------------------------- //
	// Build and insert calendar HTML into the DOM
	// -------------------------------------------------- //
	var buildCalendarDOM = function() {
		var htmlCalendar = "";
		var timePeriod = "";
		var hourNumber = "";
		var hour = 0;

		for (h=0;h<=23;h++) {

			// add odd row

			if (h % 12 === 0) {
				hourNumber = "12";
			} else {
				hourNumber = h % 12;
			}

			if (h < 12) {
				timePeriod = "am";
			} else {
				timePeriod = "pm";
			}

			hour = h*2;
			htmlCalendar = htmlCalendar + "<tr data-hour=" + hour + ">";
			
			// add th for the column header
			htmlCalendar = htmlCalendar + "<th rowspan='2' class='text-center'>" + hourNumber + timePeriod + "</th>";

			// add cells for each day
			for (d=0;d<=6;d++) {
				htmlCalendar = htmlCalendar + "<td data-day=" + d + "></td>";
			}
			htmlCalendar = htmlCalendar + "</tr>";

			// add even row
			hour = h*2 + 1;
			htmlCalendar = htmlCalendar + "<tr data-hour=" + hour + ">";

			for (d=0;d<=6;d++) {
				htmlCalendar = htmlCalendar + "<td data-day=" + d + "></td>";
			}
			htmlCalendar = htmlCalendar + "</tr>";
		}

		console.log("In buildCalendarDOM, htmlCalendar:" + htmlCalendar);

		// Remove previous calendar
		$("tbody").remove();
		// Add calendar html to the DOM
		$("<tbody>" + htmlCalendar + "</tbody>").appendTo('.hd-schedule');

	}


	// -------------------------------------------------- //
	// Transform date object into string in the following format: YYYY-MM-DD
	// -------------------------------------------------- //
	var convertDateToString = function(dateObj) {
		var dateString = Date.parse(dateObj.toLocaleDateString("en-US")).toString("yyyy-MM-dd");
		return dateString;
	}
	
	
	// -------------------------------------------------- //
	// fill slot with corresponding user name (Ajax call)
	// -------------------------------------------------- //
	var fillOutSlotFromDB = function(datesArray, roomParam) {
		// make AJAX call
		var datesArrayLength = datesArray.length;
		var weekDay = " ";
		var dateParam = " ";
		var respLength = 0;
		var slotCell = " ";
		var slotDay = " ";
		var slotDate;

		// Clear all content from calendar
		/*
		$("table.hd-schedule td").text("").each( function() {
			updateSlotStyle($(this), 1, "display");
		});
		*/

		for (i=0;i<datesArrayLength;i++) {
			if (typeof (datesArray[i]) === "undefined") 
			continue;	
			dateParam = convertDateToString(datesArray[i]);

			$.ajax({
				url: '/api/v1/schedule',
				type: 'GET',
				data: {date: dateParam, room: roomParam},
				dataType: 'json',
				success: function(resp) {

					respLength = resp.length;
					for (i=0;i<respLength;i++) {
						// var mydate = new Date(resp[i].date);
						var mydate = Date.parse(resp[i].date);						
						weekDay = mydate.getDay();

						if (resp[i].slot !== "") {	
							// Locate the slot and add owner name to that slot
							var $currentSlotObj = $("tr[data-hour='" + resp[i].slot + "']").find("td[data-day='" + weekDay + "']");
							// $currentSlotObj.text(resp[i].owner);
							$currentSlotObj.text(resp[i].owner.split("@")[0]);
							updateSlotStyle($currentSlotObj, 1, "display");
						}
					}	
					
				},
				error: function(req, status, err) {
					//alert("Not able to populate slots. Error message: " + err); // Added by Giovanna 7/16

				}
			});
		}	
	}

	// -------------------------------------------------- //
	// fill slot with corresponding user name (Ajax call)
	// -------------------------------------------------- //
	var fillOutSlotFromGenee = function(datesArray) {

		// --------------------------------------------
		// "meetingtime": "2014-08-01T09:00:00-07:00",
		// "meetingduration": 60,
		// "Are we planning to store HackerDojo userid? How to enforce only hackerDojo users reserve the room?"
		// What are the parameters I should send in this call?
		// ---------------------------------------------

		// make AJAX call
		var datesArrayLength = datesArray.length;
		var dateParam = " ";
		var respLength = 0;
		var slotOwner = " ";
		var meetingDuration = " ";
		var slotArrayLength = 0;


		for (d=0;d<datesArrayLength;d++) {
			if (typeof (datesArray[d]) === "undefined") 
			continue;	
			dateParam = convertDateToString(datesArray[d]);

			$.ajax({
				//url: 'http://aws.ugather.us/ugatherstaging-py/api/v1/roomschedule/14',
		        url: '/api/v1/roomschedule',	
                type: 'GET',
                crossDomain: true,
                headers: {'Access-Control-Allow-Origin':'*'},
				data: {},
				dataType: 'json',
				success: function(resp) {

					respLength = resp.length;
					for (i=0;i<respLength;i++) {

						// Determine the first slot
						var meetingDateTime = Date.parse(resp[i].meetingtime);
						var slotNum = getSlotNumFromDateTime(meetingDateTime);
						var weekDay = meetingDateTime.getDay();
						var weekDayDate = getDateFromWeekDayNum(weekDay);
						var slotObjArray = [];
						var meetingId = resp[i].meetingid;
						var slotOwner = "";
						var slotCount = 0;

						var compareDate = Date.compare(weekDayDate.clearTime(), meetingDateTime.clearTime());

						if (typeof (meetingDateTime) !== "undefined" && compareDate === 0  ) {
							// Locate the first slot
							var $slotObj = $("tr[data-hour='" + slotNum + "']").find("td[data-day='" + weekDay + "']");
							$slotObj.attr("data-meetingId", meetingId);
							slotCount = 1;

							// Determine rest of slots booked based on meeting duration
							meetingDuration = resp[i].meetingduration - 30;  // Removing 30 mins corresponding to first slot that was taken care above

							while (meetingDuration > 0) {
								slotNum++;
								slotCount++;
								meetingDuration = meetingDuration - 30;
							}

							// Get array of attendees, concatenate them
							var inviteesArray = resp[i].invitees;
							var inviteesArrayLength = inviteesArray.length;

							for (j=0;j<inviteesArrayLength;j++) {
								// concatenation of attendees names
								if (slotOwner === "") {
									slotOwner = inviteesArray[j].name;  
								} else {
									slotOwner = slotOwner + ", " + inviteesArray[j].name;  
								}
							}	
							$slotObj.text(slotOwner);
							updateSlotStyle($slotObj, slotCount, "display");
						}

					}	

				},
				error: function(req, status, err) {
					//alert("Not able to populate slots. Error message: " + err); // Added by Giovanna 7/16
				}
			});
		}	
	}


	// -------------------------------------------------- //
	// Book slot Ajax call
	// -------------------------------------------------- //
	var getDateFromWeekDayNum = function(weekDayNum) {
		switch (weekDayNum) {
			case 0:
				dateVar = datesArray[0];
				break;
			case 1:
				dateVar = datesArray[1];
				break;
			case 2:
				dateVar = datesArray[2];
				break;
			case 3:
				dateVar = datesArray[3];
				break;
			case 4:
				dateVar = datesArray[4];
				break;
			case 5:
				dateVar = datesArray[5];
				break;
			case 6:
				dateVar = datesArray[6];
				break;	
			default:
				dateVar = "";
				break;	
		}
		return dateVar;
	}	

	// -------------------------------------------------- //
	// Book slot Ajax call
	// -------------------------------------------------- //
	var updateSlot = function($slotObject, slotCount, datesArray, roomParam, userName, action) {

		// var slotcount = slotObjArray.length;
		// var $slotObject = slotObjArray[0];	

		// set parameters to send in the Ajax call
		var slotWeekDay = $slotObject.data("day");
		var slotParam = $slotObject.closest("tr").data("hour");
		var dateParam = convertDateToString(getDateFromWeekDayNum(slotWeekDay));
		var slotCountParam = slotCount;
		var userNameParam = userName;
		var userEmailParam = userEmail;
		var userIdParam = userId;

			switch (action) {
				case "add":
					// make AJAX call to add slot
					
					/*
					$.ajax({
						url: '/api/v1/add',
						type: 'POST',
						data: {slot: slotParam, date: dateParam, room: roomParam},
						success: function(resp) {
						    var data =  JSON.parse(resp);
							if (data.status) {
								$slotObject.text(userName);
								updateSlotStyle($slotObject, 1, "display");
								return true;
							} else {
								// display error message
								errorMessage(data.message);
								return false;
							}
						},
						error: function(req, status, err) {
							errorMessage("Not able to book slot. Error message: " + err);
							return false;
						}

						});
					
*/
					$.ajax({
                        timeout : 10000,
					    url: '/api/v1/addgenee',
					    type: 'POST',
					    data: {slot: slotParam, date: dateParam, slotcount:slotCountParam, userNameParam:userNameParam},

						success: function(resp) {
						    var data =  JSON.parse(resp);
							if (data.status) {
								// $slotObject.text(userName);
								// updateSlotStyle($slotObject, slotCount, "display");
								return true;
							} else {
								// display error message
								errorMessage(data.message);
								return false;
							}
						},
						error: function(req, status, err) {
							errorMessage("Not able to book slot. Error message: " + err);
							return false;
						}

					}); // end of ajax /api/v1/addgenee


					break;

				case "delete":
					// make AJAX call to delete slot
					$.ajax({
						url: '/api/v1/remove',
						type: 'POST',
						data: {slot: slotParam, date: dateParam},
						success: function(resp) {
						  var data = JSON.parse(resp);
							if (data.status) {
								$slotObject.text("");
								updateSlotStyle($slotObject, 1, "display");
								return true;
							} else {
								errorMessage(data.message);
								return false;
								}
						},
						error: function(req, status, err) {
							errorMessage("Not able to delete slot. Error message: " + err);
							return false;
						}
					});
					break;	
			}

		return false;
	}


	// -------------------------------------------------- //
	// Is slot available function
	// -------------------------------------------------- //
	var getSlotNumFromDateTime = function(dateTimeObj) {
	
		var hourIn24format = Number(dateTimeObj.toString("H"));
		var mins = Number(dateTimeObj.toString("m "));
		var slotNumFromDateTime;

		if (mins === 0) {
			slotNumFromDateTime = hourIn24format * 2;
		} else {
			if (mins < 30) { 
				var slotNumFromDateTime = hourIn24format * 2 + 1;	
			} else {
				var slotNumFromDateTime = hourIn24format * 2 + 2;							
			} 				
		}
		return slotNumFromDateTime;
	}	


	// -------------------------------------------------- //
	// Is slot available function
	// -------------------------------------------------- //
	var isSlotAvailable = function($slotObject) {

		var slotDateObj = getDateFromWeekDayNum($slotObject.data("day"));
		var compareDate = Date.compare(Date.today().clearTime(), slotDateObj.clearTime());

		if (compareDate === 1) { // slot is in the past 

			return false;

		} else {

			if (compareDate === 0) {  // slot is within today

				// determine if slot selected is before current time
				var slotNum = $slotObject.closest("tr").data("hour");  // slot selected
				var slotNumForCurrentTime = getSlotNumFromDateTime(new Date());

				if (slotNum >= slotNumForCurrentTime) {
					return true;
				} else {
					return false;
				}

			} else if (compareDate === -1) { // slot is in the future
				return true;
			}
		}	
	}	


	// -------------------------------------------------- //
	// Is slot available function
	// -------------------------------------------------- //
	var isUserPartOfMeeting = function($slotObject) {

		var userArray = $slotObject.text().split(",");
		var userArrayLength = userArray.length;
		var found = false;
		for (u=0;u<userArrayLength;u++) {
			if ( userName === userArray[u] ) {
				found = true;
				break;
			}
		}
		return found;
	}	


	// -------------------------------------------------- //
	// update slot background
	// -------------------------------------------------- //
/*	var updateSlotStyle = function($slotObject, action) {
		switch (action) {
			case "mouse-over":
			case "mouse-out":
			case "display":

				if (isSlotAvailable($slotObject)) { // slot is available for booking 

					if ($slotObject.text() === "" ) { 						
							$slotObject.removeClass("displayBookedSlot");		
							$slotObject.removeClass("displayBookedOtherOwnerSlot");	
							$slotObject.removeClass("displayDisabledSlot");		
							$slotObject.addClass("displayEmptySlot");	
					} else {
						// if (userName === $slotObject.text()) {	
						if (isUserPartOfMeeting($slotObject)) {								
							$slotObject.removeClass("displayBookedOtherOwnerSlot");	
							$slotObject.removeClass("displayDisabledSlot");		
							$slotObject.removeClass("displayEmptySlot");	
							$slotObject.addClass("displayBookedSlot");
						} else {
							$slotObject.removeClass("displayBookedSlot");
							$slotObject.removeClass("displayDisabledSlot");		
							$slotObject.removeClass("displayEmptySlot");	
							$slotObject.addClass("displayBookedOtherOwnerSlot");	
						}
					}
				} else {
					// slot is disabled - slot selected is in the past
					$slotObject.removeClass("displayBookedSlot");		
					$slotObject.removeClass("displayBookedOtherOwnerSlot");	
					$slotObject.removeClass("displayEmptySlot");							
					$slotObject.addClass("displayDisabledSlot");							
				}						
				break;
		}
	}
*/

	var updateSlotStyle = function($slotObject, slotCount, action) {

		// update slot style
		switch (action) {
			case "mouse-over":
			case "mouse-out":
			case "display":

				if (isSlotAvailable($slotObject)) { // slot is available for booking 
					if ($slotObject.text() === "" ) { 						
							$slotObject.removeClass("displayBookedSlot");		
							$slotObject.removeClass("displayBookedOtherOwnerSlot");	
							$slotObject.removeClass("displayDisabledSlot");		
							$slotObject.addClass("displayEmptySlot");	
					} else {
						// if (userName === $slotObject.text()) {	
						if (isUserPartOfMeeting($slotObject)) {								
							$slotObject.removeClass("displayBookedOtherOwnerSlot");	
							$slotObject.removeClass("displayDisabledSlot");		
							$slotObject.removeClass("displayEmptySlot");	
							$slotObject.addClass("displayBookedSlot");
						} else {
							$slotObject.removeClass("displayBookedSlot");
							$slotObject.removeClass("displayDisabledSlot");		
							$slotObject.removeClass("displayEmptySlot");	
							$slotObject.addClass("displayBookedOtherOwnerSlot");	
						}
					}
				} else {
					// slot is disabled - slot selected is in the past
					$slotObject.removeClass("displayBookedSlot");		
					$slotObject.removeClass("displayBookedOtherOwnerSlot");	
					$slotObject.removeClass("displayEmptySlot");							
					$slotObject.addClass("displayDisabledSlot");							
				}						
				break;
		}

		// Remove the rest of slots that are part of the same meeting
		var slotWeekDay = $slotObject.data("day");
		var slotNum = $slotObject.closest("tr").data("hour");

		if (slotCount > 1) {
			var i;
			var nextSlot = Number(slotNum) + 1;

			// Loop through the rest of slots and remove them
			for (i=1;i<=slotCount - 1;i++) {
				$otherSlotObj = $("tr[data-hour='" + nextSlot  + "']").find("td[data-day='" + slotWeekDay + "']");
				$otherSlotObj.remove();
				nextSlot++;			
			}
		}	

		// change slot rowspan as many slots sent in "slotCount" variable
		$slotObject.attr("rowspan", slotCount);
	}


	// -------------------------------------------------- //
	// get first Day Of Week
	// -------------------------------------------------- //
	var getFirstDayOfWeek = function($dateObj) {

		var weekDay = $dateObj.getDay();
		var firstDayOfWeek = $dateObj.clone();
		switch (weekDay) {
			case 0: //"Sun"
				// the date is Sunday, so return same date as firstDayOfWeek
				break;
			case 1: //"Mon"
				firstDayOfWeek.setDate(firstDayOfWeek.getDate() - 1);
				break;
			case 2: //"Tue"
				firstDayOfWeek.setDate(firstDayOfWeek.getDate() - 2);
				break;
			case 3: //"Wed"
				firstDayOfWeek.setDate(firstDayOfWeek.getDate() - 3);
				break;
			case 4: //"Thu"
				firstDayOfWeek.setDate(firstDayOfWeek.getDate() - 4);
				break;
			case 5: //"Fri"
				firstDayOfWeek.setDate(firstDayOfWeek.getDate() - 5);
				break;
			case 6: //"Sat"
				firstDayOfWeek.setDate(firstDayOfWeek.getDate() - 6);
				break;
		}
		return firstDayOfWeek;
	}

	// -------------------------------------------------- //
	// return Date in following format: ddd M/D. Example: " Sun 6/30 "
	// -------------------------------------------------- //
	var getDateColumnTitle = function($dateObj) {
		var DateVar = Date.parse($dateObj.toLocaleDateString("en-US"));
		var dateColumnTittle = DateVar.toString("ddd") + " " + DateVar.toString("M") + "/" + DateVar.toString("d ") ; 
		return dateColumnTittle;
	}

	// -------------------------------------------------- //
	// calculate each date of the week
	// -------------------------------------------------- //
	var getWeekDaysArray = function(firstDayOfWeek, dateObj, displayOption) {

		 var datesArray = [];

		 switch (displayOption) {
		 case "week":
		 	var newDate = firstDayOfWeek.clone();

		 	// populate each day of the week in datesArray
		 	for (i=0;i<=6;i++) {
				datesArray[i] = newDate.clone();
				newDate.setDate(newDate.getDate() + 1);
		 	}
		 	break;		 	
		 
		 case "day":
		 	datesArray[dateObj.getDay()] = dateObj;
		}

		 return datesArray;
	}

	// -------------------------------------------------- //
	// update Date, month and year displayed between the prev and next buttons and also the dates in each column of the calendar
	// -------------------------------------------------- //
	var updateDatesOnCalendar = function(firstDayOfWeek, currentDate, datesArray, displayOption) {  //firstDayOfWeek is a Date object

		// update days inside calendar column headers
		var idValue = "";
		
		var arrayLength = datesArray.length;
		var weekday;
		for (i=0;i<=arrayLength - 1;i++) {
			if (typeof (datesArray[i]) === "undefined") 
			continue;	
			weekday = datesArray[i].getDay();
			switch (weekday) {
				case 0:
					idValue = "sun";
					break;
				case 1:
					idValue = "mon";
					break;
				case 2:
					idValue = "tue";
					break;
				case 3:
					idValue = "wed";
					break;
				case 4:
					idValue = "thu";
					break;
				case 5:
					idValue = "fri";
					break;
				case 6:
					idValue = "sat";
					break;
			}
			$("#" + idValue).text(getDateColumnTitle(datesArray[i]));				
		}

		// Display Week or Day on the week/day navigation section
		var currentWeekString = "";

		switch (displayOption) {

		case "week":	
			var firstDateOfWeek_day = Date.parse(firstDayOfWeek.toLocaleDateString("en-US")).toString("d ");  //Giovanna - added space in "d" format
			var firstDateOfWeek_month = Date.parse(firstDayOfWeek.toLocaleDateString("en-US")).toString("MMM");
			var firstDateOfWeek_year = Date.parse(firstDayOfWeek.toLocaleDateString("en-US")).toString("yyyy");

			var lastDateOfWeek = firstDayOfWeek.clone();
			lastDateOfWeek.setDate(firstDayOfWeek.getDate() + 6);

			var lastDateOfWeek_day = Date.parse(lastDateOfWeek.toLocaleDateString("en-US")).toString("d "); //Giovanna - added space in "d" format
			var lastDateOfWeek_month = Date.parse(lastDateOfWeek.toLocaleDateString("en-US")).toString("MMM");
			var lastDateOfWeek_year = Date.parse(lastDateOfWeek.toLocaleDateString("en-US")).toString("yyyy");

			// update the date, month and year between prev and next buttons
			if (firstDateOfWeek_month === lastDateOfWeek_month) {
				currentWeekString = firstDateOfWeek_month + " " + firstDateOfWeek_day + " - " + lastDateOfWeek_day + ", " + firstDateOfWeek_year;			
			} else if (firstDateOfWeek_year === lastDateOfWeek_year) {
				currentWeekString = firstDateOfWeek_month + " " + firstDateOfWeek_day + " - " + lastDateOfWeek_month + " " + lastDateOfWeek_day + ", " + firstDateOfWeek_year;			
			} else {
				currentWeekString = firstDateOfWeek_month + " " + firstDateOfWeek_day + ", " +  firstDateOfWeek_year + " - " + lastDateOfWeek_month + " " + lastDateOfWeek_day + ", " + lastDateOfWeek_year;						
			}
			$(".hd-display-week").text(currentWeekString);
			break;

		case "day":
			var day = Date.parse(currentDate.toLocaleDateString("en-US")).toString("d ");  //Giovanna - added space in "d" format
			var month = Date.parse(currentDate.toLocaleDateString("en-US")).toString("MMM");
			var year = Date.parse(currentDate.toLocaleDateString("en-US")).toString("yyyy");

			currentWeekString = month + " " + day + ", " + year;
			$(".hd-display-week").text(currentWeekString);

			break;
		}
	}

	// -------------------------------------------------- //
	// Update both, dates and content
	// -------------------------------------------------- //
	var updateCalendar = function(firstDayOfWeek, currentDate, datesArray, room, displayOption) {

		// Rebuild calendar
		buildCalendarDOM();

		// Format style of slots		
		$("table.hd-schedule td").text("").each( function() {
			updateSlotStyle($(this), 1, "display");
		}); 

		updateDatesOnCalendar(firstDayOfWeek, currentDate, datesArray, displayOption);	

		fillOutSlotFromDB(datesArray, room);
		fillOutSlotFromGenee(datesArray);		

		// For small devices, we only display current Date
		switch (displayOption) {
			case "week":
				//do nothing, no need to hide any column
				break;
			case "day":
				var weekDay = currentDate.getDay();
				// Hide the header row for columns that are different from the date to display
				// $("thead th[data-day][data-day!='" + weekDay + "']").hide();  --> it seems that '!=' inside the selector doesn't work all the time.
				$("thead th[data-day]").hide();
				$("thead th[data-day][data-day='" + weekDay + "']").show();

				// Hide rest of rows for columns that are different from the date to display
				$("td[data-day]").hide();				
				$("td[data-day='" + weekDay + "']").show();				
				break;	
		}
	}


	// ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
	// +++++++++++++++++++++++++ M A I N ++++++++++++++++++++++++++++
	// ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

	// Grab user information
	var userName = "{{ username }}";
	var userEmail = "{{ userEmail }}";
	var userId = "{{ userId }}";

	// Display username on upper right corner
	$(".hd-username").text(userName);	

	// extract the username portion before @hackerdojo.com
	userName = userName.split("@")[0];

	// Set room name
	var room = "Room 004";
	$(".hd-resourcename").text(room);

	// Initial Display
	var today = new Date();
	var firstDayOfWeek = getFirstDayOfWeek(today);

	// Identify screen size  -- Giovanna - July 21st
	var height = $(window).height();
	var width = $(window).width();

	var displayOption;
	if (width < 768) {
		displayOption = "day";
	} else {
		displayOption = "week";		
	}

	var dateDisplayed = today.clone();

	var datesArray = getWeekDaysArray(firstDayOfWeek, dateDisplayed, displayOption);
	updateCalendar(firstDayOfWeek, dateDisplayed, datesArray, room, displayOption);

	// refresh the view every 30 seconds
	setInterval (function() { 
		updateCalendar(firstDayOfWeek, dateDisplayed, datesArray, room, displayOption); 
	}, 30000);

	// Initially disable prev button
	$(".prevButton").addClass("disabled");

	// Prev button logic
	$(".prevButton").click(function(e){
		e.preventDefault();
		if ((today < firstDayOfWeek && displayOption === "week") || (today < dateDisplayed && displayOption === "day") ) {
			firstDayOfWeek.setDate(firstDayOfWeek.getDate() - 7);			
			dateDisplayed.setDate(dateDisplayed.getDate() - 1);
			datesArray = getWeekDaysArray(firstDayOfWeek, dateDisplayed, displayOption);
			updateCalendar(firstDayOfWeek, dateDisplayed, datesArray, room, displayOption);
			$(".nextButton").removeClass("disabled");  // enable next button in case it was disabled
			// if (today > firstDayOfWeek) {
			if ((today > firstDayOfWeek && displayOption === "week") || (today >= dateDisplayed && displayOption === "day") ) {
				$(".prevButton").addClass("disabled"); // disable prev button to prevent users from reserving rooms in the past
			}			
		} 
	});

	// Next button
	$(".nextButton").click(function(e){
		e.preventDefault();		

		// calculate date 30 days from today
		var todayPlus30days = today.clone();
		todayPlus30days.setDate(todayPlus30days.getDate() + 30);
		// calculate last date of current week
		var lastDateOfWeek = firstDayOfWeek.clone();
		lastDateOfWeek.setDate(firstDayOfWeek.getDate() + 6);

		if ((todayPlus30days > lastDateOfWeek && displayOption === "week") || (dateDisplayed <= todayPlus30days && displayOption === "day") ) {

			// set firstDayOfWeek to 1 week ahead and update dates on calendar
			firstDayOfWeek.setDate(firstDayOfWeek.getDate() + 7);
			dateDisplayed.setDate(dateDisplayed.getDate() + 1);
			datesArray = getWeekDaysArray(firstDayOfWeek, dateDisplayed, displayOption);			
			updateCalendar(firstDayOfWeek, dateDisplayed, datesArray, room, displayOption);
			
			$(".prevButton").removeClass("disabled");  // enable prev button in case it was disabled

			// calculate last date of current week
			lastDateOfWeek = firstDayOfWeek.clone();
			lastDateOfWeek.setDate(firstDayOfWeek.getDate() + 6);

			if ((todayPlus30days < lastDateOfWeek && displayOption === "week") || (dateDisplayed >= todayPlus30days && displayOption === "day") ) {
				$(".nextButton").addClass("disabled"); // disable next button when the current week is beyond "today + 30 days"			
			}				
		}	
	});


	// Slot "click" event
	$(".hd-schedule td").click(function(){                     
		var response;

		var slotObjArray = [];
		slotObjArray[0] = $(this);

		if ($(this).text() === "") {
			if (isSlotAvailable($(this))) {
				// book/add slot only if slot is available
				displayPopup($(this), datesArray, room, userName);				
			}
		} else {
			// delete reservation
			if (userName === $(this).text()) {
				response = updateSlot($(this), 1, datesArray, room, userName, "delete");
			} else {
				// display error message
				errorMessage("Cannot delete slots from different owner");
			}			
		}

	});


  // -------------------------------------------------- //
  // Light Box
  // -------------------------------------------------- //
  function errorMessage(message){
    $('<div class="lightbox">' +
        '<div class="lightboxOverlay"></div>' +
        '<div class="lightboxError">' +
          '<p></p>' +
          '<button onclick="$(this).parents(\'.lightbox\').remove();return false;">Close</button>' +
        '</div>' +
      '</div>'
    ).appendTo('body');
    $(".lightbox p").text(message);
  }


  // -------------------------------------------------- //
  // Booking popup window
  // -------------------------------------------------- //
  function displayPopup($slotObj, datesArray, room, userName){

  	// Logic to determine how many hours the user can book at this time
  	// get weekday and slotnumber from the selected slot
	var dayNum = $slotObj.data("day");
	var slotNum = $slotObj.closest("tr").data("hour");

	// Check up to 7 slots down to determine how long the user can book the room
	var lastSlotToCheck = slotNum + 7;
	var availableSlotsCount = 0;
	var options = "";
	var dropdownHTML = "";
	var isUserPartOfNextMeeting;
	var displayPopUp = true;


	var dropdownHTML_upTo30mins = '<select class="selectpicker">' +
					    			'<option value="0.5">1/2 hour</option>' +
				    			'</select>';

	var dropdownHTML_upTo60mins = '<select class="selectpicker">' +
					    			'<option value="0.5">1/2 hour</option>' +
					    			'<option value="1">1 hour</option>' +
				    			'</select>';

	var dropdownHTML_upTo90mins = '<select class="selectpicker">' +
					    			'<option value="0.5">1/2 hour</option>' +
					    			'<option value="1">1 hour</option>' +
					    			'<option value="1.5">1 1/2 hours</option>' +
				    			'</select>';

	var dropdownHTML_upTo120mins = '<select class="selectpicker">' +
					    			'<option value="0.5">1/2 hour</option>' +
					    			'<option value="1">1 hour</option>' +
					    			'<option value="1.5">1 1/2 hours</option>' +
					    			'<option value="2">2 hours</option>' +    	
				    			'</select>';


	// Loop up to 7 slots down to determine how may slots the user will be able to book		    
	for (s=slotNum+1; s<=lastSlotToCheck; s++) {
		$slotObjToCheck = $("tr[data-hour='" + s + "']").find("td[data-day='" + dayNum + "']");
		if ($slotObjToCheck.text() === "" ) { 	
			availableSlotsCount++;
		} else {
			isUserPartOfNextMeeting = isUserPartOfMeeting($slotObjToCheck);
			break;
		}	
	}

	if (availableSlotsCount < 4 ) { 
		if (isUserPartOfNextMeeting) {
			errorMessage("User did not leave enough space between blocks.");
			displayPopUp = false;
		} else { // user is not part of the next meeting so he/she can book as many slots as available	
			switch(availableSlotsCount) {
				case 0: // User can only book 1 slot (1/2 hr) 
					dropdownHTML = 	dropdownHTML_upTo30mins;				
					break;	
				case 1: // User can only book up to 2 slots (1 hr) 
					dropdownHTML = 	dropdownHTML_upTo60mins;
					break;	
				case 2: // User can only book 3 slots (1.5 hrs) 
					dropdownHTML = 	dropdownHTML_upTo90mins;
					break;	
				case 3: // user can book up to 2 hrs without restriction
					dropdownHTML = 	dropdownHTML_upTo120mins;
					break;
			}
		}

	} else {
		if (availableSlotsCount === 4 ) { // User can only book 1/2 hr
			if (isUserPartOfNextMeeting) {	// User can only book 1 slot (1/2 hr) to leave 4 slots (2hrs) gap 
				dropdownHTML = 	dropdownHTML_upTo30mins;
			} else { // user is not part of next meeting so he/she can book up to 2 hrs without restriction
				dropdownHTML = 	dropdownHTML_upTo120mins;
			}	    			

	  	} else if (availableSlotsCount === 5) { 
			if (isUserPartOfNextMeeting) {	// User can only book up to 2 slots (1 hr) to leave 4 slots (2hrs) gap 
				dropdownHTML = 	dropdownHTML_upTo60mins;

			} else { // user is not part of next meeting so he/she can book up to 2 hrs without restriction
				dropdownHTML = 	dropdownHTML_upTo120mins;
			}	

		} else if (availableSlotsCount === 6) { 	
			if (isUserPartOfNextMeeting) {	// User can only book 3 slots (1.5 hrs) to leave 4 slots (2hrs) gap 
				dropdownHTML = 	dropdownHTML_upTo90mins;

			} else { // user is not part of next meeting so he/she can book up to 2 hrs without restriction	
				dropdownHTML = 	dropdownHTML_upTo120mins;
			}    			

		} else if (availableSlotsCount >= 7) { // User can book up to 2 hrs
			dropdownHTML = 	dropdownHTML_upTo120mins;
		}
	}	


  	// Create popup window
/*    $('<div class="lightboxPopup container">' +
        '<div class="lightboxOverlayPopup"></div>' +
        '<div class="lightboxPopup">' +
        	'<div class="row custom-elem-row">' +
    			'<p>How long do you need the room for? </p>' +
			    '<select class="selectpicker">' +
				    '<option value="0.5">1/2 hour</option>' +
				    '<option value="1">1 hour</option>' +
				    '<option value="1.5">1 1/2 hours</option>' +
				    '<option value="2">2 hours</option>' +    
			    '</select>' +
		    '</div>' +
        	'<div class="row custom-elem-row">' +
        		'<div class="col-md-3 col-md-offset-3">' + 
          			'<button class="cancelButton btn btn-default" onclick="$(this).parents(\'.lightboxPopup\').remove();return false;">Cancel</button>' + 
          		'</div>' +	
        		'<div class="col-md-3">' + 
          			'<button class="okButton btn btn-default">Ok</button>' +          	
				'</div>' +          		
          	'</div>' +		    
		'</div>' +
	'</div>'	   
    ).appendTo('body');
    $(".selectpicker").selectpicker();
*/

	if (displayPopUp) {

	    $('<div class="lightboxPopup container">' +
	        '<div class="lightboxOverlayPopup"></div>' +
	        '<div class="lightboxPopup">' +
	        	'<div class="row custom-elem-row">' +
	    			'<p>How long do you need the room for? </p>' +
				    dropdownHTML +
			    '</div>' +
	        	'<div class="row custom-elem-row">' +
	        		'<div class="col-md-3 col-md-offset-3">' + 
	          			'<button class="cancelButton btn btn-default" onclick="$(this).parents(\'.lightboxPopup\').remove();return false;">Cancel</button>' + 
	          		'</div>' +	
	        		'<div class="col-md-3">' + 
	          			'<button class="okButton btn btn-default">Ok</button>' +          	
					'</div>' +          		
	          	'</div>' +		    
			'</div>' +
		'</div>'	   
	    ).appendTo('body');
	    $(".selectpicker").selectpicker();


	    $(".lightboxPopup").on('click','.okButton', function() {

	    	// create an array with slots corresponding to the duration selected by the user
			var slotObjArray = [];
			var slotCount = 0;

			// obtain selected value
			/*
			switch ($(".selectpicker").val()) {
				case "0.5":
					slotObjArray[0] = $slotObj;					
					break;
				case "1":
					slotObjArray[0] = $slotObj;
					slotNum++;
					slotObjArray[1] = $("tr[data-hour='" + slotNum + "']").find("td[data-day='" + dayNum + "']");
					break;
				case "1.5":
					slotObjArray[0] = $slotObj;
					slotNum++;
					slotObjArray[1] = $("tr[data-hour='" + slotNum + "']").find("td[data-day='" + dayNum + "']");
					slotNum++;
					slotObjArray[2] = $("tr[data-hour='" + slotNum + "']").find("td[data-day='" + dayNum + "']");
					break;
				case "2":
					slotObjArray[0] = $slotObj;
					slotNum++;
					slotObjArray[1] = $("tr[data-hour='" + slotNum + "']").find("td[data-day='" + dayNum + "']");
					slotNum++;
					slotObjArray[2] = $("tr[data-hour='" + slotNum + "']").find("td[data-day='" + dayNum + "']");
					slotNum++;
					slotObjArray[3] = $("tr[data-hour='" + slotNum + "']").find("td[data-day='" + dayNum + "']");
					break;
			}
			*/

			switch ($(".selectpicker").val()) {
				case "0.5":
					slotCount = 1;					
					break;
				case "1":
					slotCount = 2;					
					break;
				case "1.5":
					slotCount = 3;					
					break;
				case "2":
					slotCount = 4;					
					break;
			}

	    	response = updateSlot($slotObj, 1, datesArray, room, userName, "add");
	    	$(".lightboxPopup").remove();
	    });

	}
  }


</script>

</html>    
