
body {
  font-family: Verdana,Arial,sans-serif; 
  width:100%; 
/*  height:100%;
  margin:0; 
  overflow:hidden; */
}

html {
/*    width:100%; 
    height:100%; */
    overflow-x: hidden;
    overflow-y: scroll;
}

/* ---------- */
/* Fix header */ 
/* ---------- */

.hd-top {
    position: fixed;
    width: 100%;
    z-index:1001;
    background-color: white;
}

.hd-table-header-wrapper {
    position: fixed;
    top: 216px;
    width: 100%;
    z-index:1001;
    background-color: white;
}

.hd-table-body-wrapper {
    position: relative;
    top: 254px;
    width: 100%;
    margin-bottom: 1em;
    z-index:1000;
}

.hd-table-header-wrapper-day {
    position: fixed;
    top: 100px;
    z-index:1001;
    background-color: white;
    height: auto;
}

.hd-table-body-wrapper-day {
    position: relative;
    top: 138px;
    width: 100%;
    margin-bottom: 1em;
    z-index:1000;
}


/* -------------------- */
/* Header / top section */ 
/* -------------------- */

.hd-logo, .hd-genee-logo {
    background: transparent;   
    margin: 2em 1em 1em 2em;
    display: inline-block;
    height: 4em;
    width: 11em;
}

.hd-header {
    border-bottom: 0.3em solid #40AB49; /*-> Genee green*/  /* #a3203f; -> red */
} 

.hd-logo-section {
    text-align: left;
/*    line-height: 8em;  */
}

.hd-user-section {
    margin-top: 1.5em;
    font-size: 120%;
}

.hd-logout {
    font-style: italic;
} 

.hd-username-section {
    display: none;
}

.hd-header-time {
    font-size: 95%;
    display: none;
}

.hd-support-email {
    font-size: 95%;
    padding-top:1.2em;
}

.hd-resourcename {
    /*margin: 1em 0 1.5em 4em; */
    font-size: 130%;
    text-align: left;
    line-height: 1.5em;
    margin-left: 1.4em;  
}

/* --------------------- */
/* Week / Day navigation */
/* --------------------- */

.hd-week-nav-container, .hd-day-nav-container {
    padding-bottom: 3.7em;
}

.hd-day-nav-container {
    padding-top: 0.5em;
}

.hd-nav {
    display: inline-block;
}

.hd-nav-button {
    background-color:#40AB49 !important;
    color: #FFFFFF;
}

.hd-display-week, .hd-display-day {
    padding-left: 0.5em;
    padding-right: 0.5em;
    vertical-align: middle;
}

.hd-display-week {
    font-size: 140%;
}

.hd-display-day {
    font-size: 120%;
}


.hd-first-week-link, .hd-today-link {
    font-style: italic;
    font-size: 110%;
    text-decoration: underline;
} 

.hd-first-week-link-div {
    margin-top: 0.5em;
}

/* --------------------- */
/* Week / Day calendar */
/* --------------------- */

.table-responsive {
    margin-bottom: 0 !important;
}

.hd-schedule, .hd-schedule-header {
    text-align: center;
    margin: 0 !important;
    table-layout: fixed; /* makes all cells fixed width and height but still keeps the table responsive */
    height: 100%;
}


th, td {
    border: 1px solid #ddd !important;  
    vertical-align: middle !important;
    text-align: center;
}

th {
    height: 1.7em !important;
    font-weight: normal;
 }

.hd-week-view td {
    /*height: 17px !important;*/
    height: 1.7em !important;
}

.hd-day-view td {
    /*height: 17px !important;*/
    height: 2em !important;
}

.hd-week-view td div, .hd-day-view td div, .hd-week-view-header td div, .hd-day-view-header td div {
    max-width: 10em;
    text-align: center;
    vertical-align: middle !important;
    font-size: 120%;    
    margin: auto;
    white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    white-space: pre-wrap;       /* css-3 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    white-space: normal;
}

.hd-week-view tr {
    height: 17px !important;
}

.hd-day-view tr {
    height: 2em !important;
}

/* Hover calendar cells but ONLY empty and disabled slots */
tr:hover td.displayEmptySlot { 
/*.hd-table-body-wrapper tr:hover td.displayEmptySlot { */
     background-color: #D9EEDB;  /* Very light green */
}

tr:hover td.displayDisabledSlot { 
/*.hd-table-body-wrapper tr:hover td.displayDisabledSlot { */
     background-color: #D9EEDB;  
}


.displayEmptySlot {
    background-color: #FFFFFF;  /* white */
    cursor: default;
    color: black;
}

.displayBookedSlot {
    background-color: #8CCD92; /* -> Light green */  /* #E0CAAE -> light tan */
    cursor: default;
    padding: 0px  !important;
    color: black;
}

.displayBookedOtherOwnerSlot {
    background-color: #999999; /* -> gray */
    cursor: default;
    padding: 0px  !important;
    color: black;
}

.displayDisabledSlot {
    background-color: #E6E6E6;  /* light gray */
    cursor: not-allowed;
    padding: 0px  !important;
    color: black;
}

.displayCurrentSlot {
    background-color: #40AB49;  /* light yellow */
    background-color: #8CCD92;
    cursor: not-allowed;
    padding: 0px  !important;
    color: black;
}


/* --------------------- */
/*      Popup window     */
/* --------------------- */

.lightboxOverlay {
    background-color:#000;
    opacity: .5;
    bottom:0px;
    left:0px;
    overflow:auto;
    position:fixed;
    right:0px;
    top:0px;
    z-index:1000;
}

.lightboxError {
    background-color: white;
    border: 1px #000000 solid;
    border-radius: 5px;
    left:0;
    margin-left:auto;
    margin-right:auto;
    padding:1em;
    right:0;
    top:70px;
    width: 450px;
    max-width: 90%;
    z-index:1001;
    position:fixed;
    font-size: 120%; 
}

.lightbox p {
    /* style of message text */
}

.lightboxError button {
    display:block;
    margin: 1em auto auto auto;
}


/* Booking slot popup */

.lightboxOverlayPopup {
    background-color:#000;
    opacity: 0.5;
    bottom:0px;
    left:0px;
    overflow:auto;
    position:fixed;
    right:0px;
    top:0px;
    z-index:1000;
}

.lightboxPopup {
    background-color: white;
    border: 1px #000000 solid;
    border-radius: 5px;
    left:0;
    margin-left:auto;
    margin-right:auto;
    padding:1em;
    right:0;
    top:70px;
    width: 500px;
    max-width: 90%;
    max-height: 90%;
    z-index:1001;
    position:fixed;
    font-color: #999999;
    font-family: arial;
    text-align: left;
    font-size: 120%;  
}

.custom-elem-row {
    padding: 1em;
}

.hd-popup-text {
    width: 100% !important;
}

.hd-popup-message {
    width: 100% !important;
    text-align: justify;
    padding: 1em;
}

.hd-email-input, .hd-attendees-email-input {
    display: inline-block;
    font-size: 1em !important;   
    vertical-align: bottom;
    height: 140%;
    margin-left: 0.7em;
}


.hd-email-input {
    width: 40% !important; 
}

.hd-attendees-email-input {
    width: 90% !important; 
}

.hd-buttons-section {
    padding-top: 1em;
    padding-bottom: 1em;    
}
.okButton {
    background-color:#40AB49 !important;
    color: #FFFFFF;
}
.hd-hide {
    height: 0em;
    padding: 0em !important;
}
.hd-error-text {
    color: #e43333;
    font-size: 90%;
}

.selectpicker {
    font-size: 1.125em !important;
}

/* Extra small devices (phones, less than 768px) */
/* @media (max-width: @screen-xs-max) { */
@media all and (max-width: 768px) {


    .lightboxOverlayPopup {
    }

    .lightboxError, .lightboxPopup {
        border: 1px #000000 solid;
        border-radius: 5px;
        left:0;
        padding:1em;
        right:0;
        top:70px;
        width: 500px;
        max-width: 90%;
        max-height: 90%;
        font-size: 100%;  
    }

    .custom-elem-row {
        padding: 0.8em;
    }

    .hd-popup-text {
        width: 100% !important;
    }

    .hd-email-input {
        width: 40% !important; 
        font-size: 1em !important;   
        height: 140%;
        margin-left: 0.7em;
    }

    .hd-buttons-section {
        padding-top: 2em;
        padding-bottom: 1em;    
    }
    .okButton {
    }

    .selectpicker {
        font-size: 0.8em !important;
    }

    .selectpicker option {
        font-size: 1em !important;
    }
}

/* increase margin for large desktops only */
@media all and (min-width: 1400px) {
    body {
        margin-left: 1em;
        margin-right: 1em;        
    }

}