
.hd-logo, .hd-genee-logo {
    background: transparent;   
    margin: 2em 1em 1em 2em;
    display: inline-block;
}

.header {
    border-bottom: 0.5em solid #40AB49; /*-> Genee green*/  /* #a3203f; -> red */
} 

.hd-logo-section {
    text-align: left;
    line-height: 8em;
}

.hd-user-section {
    text-align: right;
    margin-top: 4em;
}
.hd-logout {
    font-style: italic;
} 

.hd-resourcename {
    /*margin: 1em 0 1.5em 4em; */
    font-size: 120%;
    text-align: left;
    line-height: 4em;    
}

.hd-week-nav-container, .hd-day-nav-container{
    padding-bottom: 2em;
}

.hd-nav {
    display: inline-block;
}

.hd-nav-button {
    background-color:#40AB49 !important;
    color: #FFFFFF;
}

.hd-display-week {
    font-size: 120%;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.hd-schedule {
    margin-top: 2em; 
    text-align: center;
}

.hd-schedule td {
    font-size: 0.8em;
    vertical-align: middle !important;
    text-align: center;
    min-height: 1px !important;
}

/* Hover calendar cells but ONLY empty and disabled slots */
tr:hover td.displayEmptySlot {
     background-color: #D9EEDB;  /* Very light green */
}
tr:hover td.displayDisabledSlot {
     background-color: #D9EEDB;  
}


.displayEmptySlot {
    background-color: #FFFFFF;  /* white */
    cursor: default;
    color: black;
}

.displayBookedSlot {
    background-color: #8CCD92; /* -> Light green */  /* #E0CAAE -> light tan */
    cursor: default;
    padding: 0px  !important;
    color: black;
}

.displayBookedOtherOwnerSlot {
    background-color: #999999; /* -> gray */
    cursor: default;
    padding: 0px  !important;
    color: black;
}

.displayDisabledSlot {
    background-color: #E6E6E6;  /* light gray */
    cursor: not-allowed;
    padding: 0px  !important;
    color: black;
}


/* Lightbox */
.lightboxOverlay {
    background-color:#000;
    opacity: .5;
    bottom:0px;
    left:0px;
    overflow:auto;
    position:fixed;
    right:0px;
    top:0px;
    z-index:1000;
}

.lightboxError {
    background-color: white;
    border: 1px #000000 solid;
    border-radius: 5px;
    left:0;
    margin-left:auto;
    margin-right:auto;
    padding:20px;
    right:0;
    top:70px;
    width: 400px;
    max-width: 90%;
    z-index:1001;
    position:fixed;
}

.lightbox p {
    /* style of message text */
}

.lightbox button {
    display:block;
    margin: 1em auto auto auto;
}


/* Booking slot popup */

.lightboxOverlayPopup {
    background-color:#000;
    opacity: 0.5;
    bottom:0px;
    left:0px;
    overflow:auto;
    position:fixed;
    right:0px;
    top:0px;
    z-index:1000;
}

.lightboxPopup {
    background-color: white;
    border: 1px #000000 solid;
    border-radius: 5px;
    left:0;
    margin-left:auto;
    margin-right:auto;
    padding:20px;
    right:0;
    top:70px;
    width: 400px;
    max-width: 90%;
    z-index:1001;
    position:fixed;
    font-color: #999999;
    font-family: arial;
    text-align: left;
}

.custom-elem-row {
    padding: 1em;
    padding-bottom: 2em;
}

.hd-popup-text {
    width: 80% !important;
}

.hd-email-input {
    width: 40% !important; 
    display: inline-block;   
}

.hd-buttons-section {
    padding-top: 3em;
    padding-bottom: 2em;    
}
.okButton {
    background-color:#40AB49 !important;
    color: #FFFFFF;
}
.hd-hide {
    height: 0em;
    padding: 0em !important;
}
.hd-error-text {
    color: #e43333;
}


